[2019-09-23 15:37] rwblair opened #841 "Data dictionary for tabular files not being seen."
I tried to quiet issue 82 on /bids-validator/bids-validator/tests/data/valid_dataset by adding a participants.json but it does not look like its being seen by the validator:

[2019-09-24 02:11] dlevitas opened #842 "Check for opposing SE EPI PhaseEncodingDirections"
Hello,

We've stumbled upon an issue with a protocol at our imaging facility where the SE EPI PhaseEncodingDirection values are all "j", rather than the PA being "j" and the AP being "j-". When [validating](https://bids-standard.github.io/bids-validator/) the data, no warning messages arose to indicate this issue. From my understanding, SE EPI are prone to error because they can require the user t

[2019-09-25 02:24] yarikoptic commented on #769
ran into it again with the fmriprep 1.5.0 image... so the scare persist

[2019-09-25 03:23] yarikoptic opened #844 "warn/error on bidsignore entries matching "legit" files"
I initially thought that it might be more of interest to OpenNeuro itself, but then decided that it better be addressed at the validator level.

<details>
<summary>Look through .bidsignore files among OpenNeuro datasets:</summary>

[code]
</details>

and you can see, that some smart scientists decided to just "workaround" bids-validator by pretty much matching many if not all files, which otherwis

[2019-09-25 15:16] effigies commented on #844
We've thought about how to handle situations like that. I'm happy to have the validator make a warning (which could be raised to an error by flag), but I wonder how well we're going to be able to out-smart a human with regexes. Our earlier thought was to set limits on either the proportion of files or proportion of data by bytes that were ignored.

Related: https://github.com/OpenNeuroOrg/openneur

[2019-09-25 15:17] effigies commented on #844
Also, this seems related to https://github.com/bids-standard/bids-validator/issues/836, which will also poke its nose behind the previously forbidden curtain of `.bidsignore`.

[2019-09-25 15:39] yarikoptic commented on #844
warning on "too many ignored files" could also be of value, although would be hard to define sensible threshold.  That is why I thought about using "legit" BIDS files as a somewhat litmus paper.  If bidsignore expression causes legit files to be ignored -- must be too wide, could cause troubles down the end (user expects a valid bids file to be used/processed, but it is ignored) etc

[2019-09-25 16:18] effigies commented on #844
So the logic would move from:

[code]

To:

[code]

This will definitely cause slowdowns, as right now we can save time by not trying to validate ignored files. But #836 is going to have to do something similar, as well.

[2019-09-25 16:32] yarikoptic commented on #844
yeah, no free lunch anywhere  BUT in the datasets without any ignores the speed will stay the same!  So you could treat it as a feature -- those who are not compliant must suffer (i.e. wait) longer ;)

[2019-09-26 15:52] JWinawer opened #845 "Validation error with '.sqd' MEG files"
We get errors when validating a BIDS project containing MEG files with the extension '.sqd'. We understood from the BIDS specificiation that sqd was allowable. The error is this:

Any tips appreciated.

Thanks
Jon

[2019-09-26 20:41] effigies commented on #845
Seems like a bug. SQD should be recognized by this regular expression (though it is a pain to try to read):

https://github.com/bids-standard/bids-validator/blob/392af3ca8c6a172c5e87b210c0b56ec45989d92d/bids-validator/bids_validator/rules/file_level_rules.json#L204-L220

Is there any chance that there's something more fundamental? For instance, where does `motor/` come into this? Is that the datas

[2019-10-02 17:32] #804 closed

[2019-10-02 17:33] ckrountree commented on #804
The validator is case sensitive.  This is an issue with what is in bidsignore...to be addressed in a separate ticket.

[2019-10-02 17:43] ckrountree commented on #792
Should check common user errors and provide error message...

[2019-10-02 17:47] ckrountree commented on #772
This could make the validator more spec-compliant.  Do we want to do this in this specific case?

[2019-10-02 20:54] rwblair commented on #772
I think it would be good. Bringing out of spec dataset descriptions up to date won't be too much work for any one who needs to do it.

[2019-10-03 16:25] #831 closed

[2019-10-03 17:10] irisgroen commented on #845
Hi Chris, thanks for your reply - Jon and I work on this project together. Here's a screenshot of our 'tree', with 'motor' being the top-level directory that we input into the bids-validator. The reason we think this is a bug having to do with the .sqd extension is that our subjects also have data from other measurement modalities (e.g. fMRI , in the session 'nyu3t01' in the highlighted example) w

[2019-10-03 17:43] effigies commented on #845
The file tree looks reasonable, which means, unfortunately, it's probably a regex problem.

[2019-10-05 14:52] robertoostenveld opened #847 "Generate an error when _events.tsv is present in func without corresponding bold data"
Some examples were identified in https://github.com/bids-standard/bids-examples/pull/166 that have an `_events.tsv` file without the corresponding `_bold.ni.gz`. This was apparently not detected by the validator. Presumably the same problem applies to `_events.tsv` in other modalities (except `beh`, where it is appropriate), and presumably also for other files that accompany data, such as channels

[2019-10-05 15:11] jasmainak opened #848 "coordsystem.json files should not contain task field"
@robertoostenveld caught this issue in https://github.com/bids-standard/bids-examples/issues/167, however I think we should make a more permanent fix to this problem by fixing the validator to catch such files.

[2019-10-08 16:01] rwblair commented on #780
Made a metadata.yml for the validator and opened a pr against conda-forge:
https://github.com/conda-forge/staged-recipes/pull/9771

[2019-10-08 20:47] rwblair commented on #780
@oesteban  @effigies  How important is a windows build for the validator in conda-forge?

[2019-10-10 02:36] nellh opened #849 "Duplicate keys in JSON objects should raise an error or warning"
An example from OpenNeuro, the TaskName field is repeated and one of the two values is read by the validator.

https://openneuro.org/datasets/ds002185/versions/1.0.0/file-display/task-odors_bold.json

[2019-10-11 15:55] teonbrooks commented on #845
I think I may have found the error here:
https://github.com/bids-standard/bids-validator/blob/392af3ca8c6a172c5e87b210c0b56ec45989d92d/bids-validator/bids_validator/rules/file_level_rules.json#L205

specifically here:
`_meg(@@@_meg_type_@@@\\/(.(?!\\.(sqd|con|fif|raw|raw\\.mhd|trg|kdf|chn)$))*|\\/(.(?!\\.(sqd|con|fif|raw|raw\\.mhd|trg|kdf|chn)$))*)|(@@@_meg_ext_@@@))$`

why is there intervening co

[2019-10-11 16:33] effigies commented on #845
Seems reasonable to me... Want to make a PR?

[2019-10-11 20:39] teonbrooks commented on #845
i just understood what it is for, it is for the BTi data that have files with extensions: https://bids-specification.readthedocs.io/en/stable/99-appendices/06-meg-file-formats.html#bti4d-neuroimaging

[2019-10-15 08:10] sappelhoff commented on #780
I think a Windows build for the validator would be good to have. This also relates to having a CI for Windows, which we talked about several weeks ago and I think @nellh made some steps towards it.

I don't know what the current status of bids-validator under Windows is.

[2019-10-15 08:11] sappelhoff commented on #848
@jasmainak could you be a bit more elaborate what needs to be done? That'd make it easier for somebody else to pick up the problem (unless you want to fix it yourself and this is only your reminder)

[2019-10-17 09:24] sappelhoff commented on #848
I see, thanks - that'd have to be changed in the regular expressions here: https://github.com/bids-standard/bids-validator/blob/0f55b8f4b2f6e608a8a3cb0aee93fa732e898307/bids-validator/bids_validator/rules/file_level_rules.json#L159-L220

it could mean that we have to change the structure a bit ... because solving this with a regular expression would make that expression even more complicated and b

[2019-10-17 12:37] effigies commented on #848
Unspecified metadata has not been validated, to the best of my knowledge, so this wouldn't be a fix limited to this one piece. Does the spec ever disallow it?

[2019-10-18 15:48] yarikoptic opened #851 "validate correct data type (value) of some fields such as MagneticFieldStrength"
Although BIDS ATM does not explicitly state the data types for the fields in the sidecar files ( https://github.com/bids-standard/bids-specification/issues/350), data types for some fields (such as `MagneticFieldStrength`) are implicitly assumed.  Since I am encountering datasets which have incorrect values in the fields, e.g. `"3T"` literal in this example, I think it would be very valuable if bi

[2019-10-18 21:22] toujames commented on #802
Not only that, but when trying to use just the --config option, there is an error with the function:
When using:
`$ bids-validator -c config.json path/to/bids/dir`

[code]

[2019-10-20 01:15] jasmainak commented on #848
hmm ... as long as old and new tests pass, we are fine :)

[2019-10-25 19:46] riddlet opened #854 "meg.json schema is missing a key for HardwareFilters field"
https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/json/schemas/meg.json

Either that or the spec here is incorrect:

https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/02-magnetoencephalography.html

[2019-10-27 20:25] jasmainak commented on #854
Can you make a pull request to fix it? Thanks

[2019-10-28 17:36] ckrountree opened #856 "Make the AWS-SDK optional"

[2019-10-28 18:04] nellh commented on #856
The main goal here should be to make it possible for aws-sdk to be pruned/excluded when the validator is bundled (webpack, rollup, etc).

[2019-10-28 21:51] nellh opened #857 "Validate text encoding for JSON data"
A latin-1 dataset_description.json caused a dataset to fail to snapshot on OpenNeuro. JSON is standardized as Unicode and we assume utf-8 in some places for OpenNeuro, it would be useful to have the validator report non-unicode files and raise a warning for those files.

[2019-10-29 13:08] JoffJones commented on #775
Just to briefly add, I encountered this problem after about 150 subjects in a large fmriprep job (390 subjects in total). The fmriprep directory was about 500gb and, in all, the derivatives directory was approximately 700gb. Excluding the derivatives directory the BIDS directory was 16.2gb. I simply turned off the bids-validator for fmriprep, but I just wanted to flag this potential issue for futu

[2019-10-30 23:49] VisLab opened #859 "bad tarball for latest version of bids-validator"
I successfully installed bids-validator on one windows machine in my lab.  Tonight when I tried to install on another machine, it fails with the following error:

C:\>npm install -g bids-validator
npm WARN tarball tarball data for bids-validator@latest (sha512-WjaMfRMrisupVPB9sLuTav6K5mTIOqwkhCal71UIOy9d2asKZ1+r/2zliNHJnbFfJhK4p9NyfHPk1xIlHNDjTg==) seems to be corrupted. Trying one more time.

[2019-10-31 17:12] VisLab commented on #859
This seems to have now been fixed.

[2019-10-31 17:12] #859 closed

[2019-11-01 20:59] akhanf opened #860 "VOLUME_COUNT_MISMATCH with b0-only dwi (nvols=1)"
Hello,

I am getting a VOLUME_COUNT_MISMATCH error when dealing with a dwi with 1 volume (in this case a bvec=[0,0,0], bval=0 volume). I am wondering if this is an edge case where number of volumes = 1 is not expected?

Validator output and output confirming number of volumes and content of bval/bvec are below:
[code]

[code]

[2019-11-03 04:33] mattcieslak opened #861 "bvals and bvecs not recognized for dwi files that include "_run-""
I noticed that bids-validator will report an error when there are dwi files with eg `_run-01` and `_run-02` in the same session. Here I have a BIDS directory

[code]

And the validator reports:

[code]

Since both of these files have bval and bvec files, this error message is very confusing. Looking further at the error log it is expecting a `./sub-1/ses-PNC1/dwi/sub-1_ses-PNC1_dwi.bval` file. I d

[2019-11-04 01:36] mattcieslak commented on #861
This turned out not to be a bids-validator problem. Sorry for the noise!

[2019-11-04 01:36] #861 closed

[2019-11-05 17:28] rwblair opened #862 "Bids spec version covered by validator"
https://neurostars.org/t/which-bids-spec-version-is-the-validator-validating/5357

Maybe good to list what version of specification is covered by the validator to prevent the above kind of cross referencing. Is there a way we could determine coverage of a given specification version?

[2019-11-20 17:59] nellh opened #869 "Publish ES6 and transpiled modules to npm"
Since we switched to ES6 modules, the package on npm is missing an ES5 compatible build. This prevents JavaScript environments that do not support ES6 imports from using the validator, we may want to publish a transpiled version as well as the ES6 one.

[2019-11-20 18:02] nellh opened #870 "Configure native ES6 module support for Node 12+"
The validator should mostly work on Node 12+ with native modules but we need to make sure we don't depend on any unsupported JavaScript features and make sure [Node.js is configured to load the project with a module entry point](https://nodejs.org/api/esm.html#esm_code_package_json_code_code_type_code_field). This would let us avoid the Babel overhead for tests and runtime.

[2019-11-21 17:45] tashrifbillah opened #872 "[Question] How should processed MRI be named?"
# Save a brain mask

I want to save a T1w brain mask with description that it was created using bet. What is the specification?

`/parentDir/derivatives/sub-001/anat/sub-001_{???}_T1w.nii.gz`

`/parentDir/derivatives/sub-001/anat/sub-001_T1w_{???}.nii.gz`

# Documentation found so far
I have been looking at [this](https://bids.neuroimaging.io/bids_spec.pdf) and [this](https://docs.google.com/docum

[2019-11-21 19:26] tashrifbillah commented on #872
Hi @effigies, your direction was helpful. In addition, I followed [this](https://bids-specification.readthedocs.io/en/common-derivatives/05-derivatives/01-introduction.html#file-naming-conventions). Nevertheless, can you comment on the compliance of the structure below?

[code]

Still I have one more confusion. The mask was obtained from axis aligned T1w image, not the raw one. The above reference

[2019-11-22 14:43] effigies opened #873 "Validation fails for subjects with labels with initial uppercase"
From [Neurostars #5472](https://neurostars.org/t/bids-validator-error-for-upper-case-subject-labels/5472):

[2019-11-22 14:49] effigies commented on #872
This means that, if you have `sub-01_acq-hires_T1w.nii.gz` and `sub-01_acq-lores_T1w.nii.gz`, a derivative that depends *only* on `sub-01_acq-hires_T1w.nii.gz` must include `sub-01_acq-hires`, but if you use both to produce a derivative file, the `acq` entity could be dropped. And similarly for any other set of files.

No. The source file would be considered the one in the raw dataset. Desc is a f

[2019-11-22 15:01] tashrifbillah commented on #872
Thanks, but the following is not caught as an error though:

[code]

Neither is existence of multiple suffix:

[code]

Is it a BUG or we just expect users to not challenge with such non-compliant names?

[2019-11-22 15:12] effigies commented on #872
The Python package here is pretty limited. I'm fairly sure these would fail the actual validator.

[2019-11-22 15:53] tashrifbillah commented on #872
Tried [this](http://bids-standard.github.io/bids-validator/) with the following three, but it didn't fail.

[code]

[2019-11-22 16:21] effigies commented on #872
Oh, right. The current validator does not validate derivatives. Updating the validator to consider derivatives will be part of the final push to merge the derivatives specification.

[2019-11-22 16:22] #872 closed

[2019-11-26 20:09] ckrountree opened #876 "Refactor remote validation"
Related to bids-standard/bids-validator#818

[2019-11-26 20:11] ckrountree commented on #818
This piece of the ticket has been completed.  There could still use some refactoring.  Therefore, opened a new ticket - bids-standard/bids-validator#876, which may only affect performance.

[2019-11-26 20:11] #818 closed

[2019-11-29 13:28] dmedine opened #878 "UTF-8 BOM characters not supported"
When a file is formatted in UTF-8 with BOM (which is a standard utf-8 file format), this BIDS validator will issue errors when reading the byte order marker (ï»¿). For example, this is the output:

Location:
BIDS/sub-01/eeg/sub-01_task-DKVisualOddballactiCHampslim4142_channels.tsv

Reason:
Tabular file contains custom columns not described in a data dictionary

Evidence:
Columns: ï»¿name not defin

[2019-11-29 14:26] effigies commented on #878
Sure, we should probably fix this. My extremely limited Javascript knowledge suggests that perhaps we can resolve it by making the following change:

[code]

Here:

https://github.com/bids-standard/bids-validator/blob/f2dd08332748bd476131bd689ea48a85307ec257/bids-validator/validators/tsv/validateTsvColumns.js#L55-L61

I'll note that it's not required or recommended in UTF-8 for the specific reason

[2019-12-02 09:08] dmedine commented on #878
I think that would be for the best. The other validators (e.g. the python based validator) handles the BOM automatically. I am surprised that this needs to be explicitly handled in the javascript function, but so it is.

It would be great if you could merge this change. Let me know if you need help testing.

[2019-12-02 09:08] dmedine commented on #878
I will complain about other BOM related matters if they ever come up ;-)

[2019-12-02 13:44] effigies commented on #878
Proposed the change. Should probably note that the Python validator does not check contents, just file names, so I don't know for a certainty that Python ignores these.

[2019-12-02 15:15] dmedine commented on #878
Thanks! By our testing this web based validator is the only one complaining about the BOM. But I will report anything if it comes up.

[2019-12-02 18:45] effigies commented on #873
Another user encountering this in [Neurostars #5496](https://neurostars.org/t/dont-understand-why-validation-fails-when-naming-scheme-matches/5496).

Anybody know how to debug javascript?

[2019-12-02 19:21] #772 closed

[2019-12-02 19:21] #856 closed

[2019-12-02 19:49] effigies commented on #772
Closed by #852.

[2019-12-03 19:11] effigies commented on #623
This function should take #879 into account.

[2019-12-03 20:15] rwblair opened #882 "Remove lerna?"
Currently only bids-validator is having a version set by lerna. @nell what would the consequences of removing lerna and having npm pushes done in circle deployment workflow be? Is lerna responsible for anything besides setting version number/tag and pushing to npm?

Right now we get tags from lerna and then again from github publish, which had caused some problems with versioneer, and each tagging

[2019-12-04 19:20] nellh commented on #882
The other useful thing about Lerna was kind of supplanted by Yarn/NPM workspaces and NPM will support these soon, so it could be removed at that point if we don't want to use it to manage interdependencies between the web validator and core validator.

[2019-12-05 20:48] dlevitas opened #884 "BIDS Validator web version slow"
Hi,

I'm trying to validate a set of 23 subjects using the the BIDS validator web (v1.3.12); however, it has spent the last hour loading without any sign of completion. I've had this issue in the past when trying to validate datasets with 10+ subjects, so I wanted to raise the issue. For now, I'll use the command line method for validation.

Dan

[2019-12-05 20:59] yarikoptic commented on #627
Probably actually make it `--private` or `--policy (public|private)` so by default it would raise an issue but would still allow to explicitly declare that the dataset is for internal use and original dates are ok (could be dealt with later before sharing)

[2019-12-05 22:31] nellh commented on #884
Thanks for the report! Can you describe dataset which you ran into the issue? It would be helpful to know total size in bytes and total file count. What browser version you are using and how much memory does your system have?

[2019-12-05 22:49] dlevitas commented on #884
I'm using this [validator](https://bids-standard.github.io/bids-validator/) through Firefox. The size of the dataset is 48Gb, and I'm working on this through my university's HPC, so memory isn't an issue for me.

[2019-12-06 21:02] seldamat opened #886 "Bug: Incorrect Error Reporting"
Summary:
bids-validator reports `code-10` (REPETITION_TIME_MUST_DEFINE) even when json file already contains repetition time information but ONLY when `code-50` (TASK_NAME_MUST_DEFINE) is triggered. Simply adding TaskName: "${TASKNAME}" to the json file suppresses both messages. bids-validator should only report `code-50` not `code-10`.

How to replicate:
Delete the TaskName line from a JSON file

[2019-12-06 21:22] nellh commented on #884
It's useful to know the total system memory where the browser is running because browsers allocate page quotas based on a percentage of the total system memory, to prevent memory overuse by one page. The web validator could be hitting this memory quota and hanging in this case.

You can get the exact value from Firefox by opening the developer console and running this:
`await navigator.storage.est

[2019-12-06 22:08] dlevitas commented on #884
Ah, okay. The output from that command is 2147483648

[2019-12-11 04:06] dorianps commented on #675
Fyi, I have hit this problem again on a bigger dataset.

`ulimit -Hn` was 10k in the system, and bids-validator 1.3.12 would complain about file being empty or corrupt. This happened with a singularity image, too, but not with a docker run (not sure why).

Resolved it by bumping ulimit to 100k files at the system level. So, I suspect the underlying problem is still not fixed. Open file pointers re

[2019-12-11 10:03] lchiou opened #888 "Web validator considers top level sessions.json invalid"
The [web validator](http://bids-standard.github.io/bids-validator/) gives a "[Code 1] NOT_INCLUDED" error when I have a `sessions.json` data dictionary in my top-level directory (corresponding to all `sub-*/sub-*_sessions.tsv` files).

[2019-12-11 17:04] rwblair commented on #882
With #883 fixed this isn't an issue at the moment.

[2019-12-11 17:04] #882 closed

[2019-12-11 21:38] irisgroen commented on #845
Hi all, we've tested the bids-validator again on our MEG data and we no longer get the .sqd validation error. I'm not entirely sure if it was solved by #850 or not, but regardless I think this means the issue can be closed!

[2019-12-11 21:49] effigies commented on #845
This might be an issue where the web version of the validator hadn't updated since June...

[2019-12-11 22:00] teonbrooks commented on #845
this one didn't, I was attempting to fix it but I just kept breaking things on my branch hehe. glad to hear it was resolved. i think it could have been a dated version. I know at one point, we had an error in the specification where we were requiring an additional enclosing folder on KIT data that was not necessary (https://github.com/bids-standard/bids-specification/pull/19).

[2019-12-16 21:34] MatthewZito commented on #821
@nellh ran `git config --system core.longpaths true` on the server. We should keep this in mind when setting up a new runner

[2019-12-17 15:59] effigies commented on #878
Reopening, because this isn't resolved. I can replicate with the dataset shared in https://github.com/bids-standard/bids-validator/pull/879#issuecomment-566597116: https://drive.google.com/open?id=1K4hu7wpV4jmarwCgtgUR_7e5sjTuSqdf

Presumably Javascript has some way to load file contents, so hopefully somebody can figure this out. Loading with Python:

[code]

So this appears to be an encoding iss

[2019-12-17 19:04] effigies commented on #878
cc @david-nishi

[2019-12-18 00:06] nellh commented on #821
One more required global configuration: `git config --system core.symlinks true`

[2019-12-18 16:47] yarikoptic commented on #741
I found myself again here! amazing!  So is there a perspective to have this issue addressed (or at least commented on), or I will just keep talking to the past myself here? ;)

[2019-12-18 19:23] effigies commented on #741
This is definitely beyond my JS knowledge, so I don't even have a sense of how great an effort this would be.

@62442katieb Do you happen to have some time to prod at this?

@yarikoptic Do you know any JS developers?

[2019-12-18 22:07] nellh commented on #741
I've added a quick version of this in #891 - documentation for how it works is [here](https://github.com/bids-standard/bids-validator/pull/891/files#diff-05937fda664c9b6cbf8c756271359982R103). This does introduce a breaking change since relative configuration paths are now interpreted as dataset relative.

[2019-12-19 00:02] yarikoptic commented on #741
THANK YOU @nellh -- skimmed through the code (I have little to no JS knowledge, so it was very superficial) -- looks great to me ;)  FWIW, in the use case where I was providing config file, I was using absolute path.

[2019-12-20 20:18] #741 closed

[2020-01-06 10:31] sappelhoff opened #893 "Unit questions (probably rather BIDS specification related)"
related to: https://github.com/bids-standard/bids-validator/pull/885

specifically, comments by @jasmainak
- https://github.com/bids-standard/bids-validator/commit/1590ab899f60244df2f5aa4c09669e803ed7d071#commitcomment-36606925
- https://github.com/bids-standard/bids-validator/commit/1590ab899f60244df2f5aa4c09669e803ed7d071#r36606928

apparently some values in MEG are specified in units that are c

[2020-01-06 10:59] jasmainak commented on #893
`T/m` is still an SI unit, just a derived one :-)

[2020-01-07 08:36] robertoostenveld commented on #893
agreed, see https://en.wikipedia.org/wiki/SI_derived_unit.

Brain signals and behaviour can be quantified in SI and derived units. The MEG part of the specification specifies this more or less, see [here](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/02-magnetoencephalography.html#channels-description-_channelstsv) and [appendix V](https://bids-specification.readth

[2020-01-08 18:16] jbteves opened #894 "[Feature Request] Make validator explicitly report which "part" of a filename is erroneous"
Currently the validator simply states that a given filename is out of spec, without explaining which label or section of the filename is not valid. It would be useful if the validator indicates the source of the violation in addition to whether or not one occurs.

[2020-01-08 20:01] jbteves opened #895 "Validator-recommended Name is not read"
When missing a task file (error Error 1: [Code 50] TASK_NAME_MUST_DEFINE), the validator recommends the following as an option:
[code]
However, when I create that filename, the validator repeats the same error message, including a recommendation that I create that same filename. I am not sure if that is indeed a valid BIDS filename, however, the validator should not recommend a filename that it it

[2020-01-08 22:30] ckrountree opened #896 "Validate derived SI units used in TSV files"
This elaborates on issue #777

[2020-01-08 22:31] ckrountree commented on #777
Released in v3.9

[2020-01-08 22:31] #777 closed

[2020-01-09 14:50] adam2392 commented on #786
Hi, BME PhD student, (primarily using Python for ECoG/SEEG analysis, with some scalp EEG in there), here with some thoughts:

 I took a look at these things linked to me by @jasmainak:

- bids-standard/bids-validator#786 and
- https://github.com/mne-tools/mne-bids/pull/285

1. I am in favor of adding this command line flag because converting datasets takes a long time, and I (as an example) have a

[2020-01-09 15:36] rwblair commented on #623
Fixed in #887

[2020-01-09 15:36] #623 closed

[2020-01-09 15:40] rwblair commented on #857
Fixed in #868

[2020-01-09 15:40] #857 closed

[2020-01-09 20:09] robertoostenveld commented on #786
I think it is a bad idea to add exceptions to the bids-validator that have to be explicitly processed by the code. The desired functionality has already been implemented by means of the `.bidsignore` file. So rather than adding the exception-handling to the validator, the exceptions are listed as part of the dataset. This not only keeps the code clean from specific exception handling, but also ens

[2020-01-09 20:33] robertoostenveld commented on #786
Regarding your 2nd question: that is not really appropriate for this github issue, which is a request to add some option to the bids-validator (i.e. the software). Your question about the specification is more appropriate on Neurostars or on the bids-discussion google group. Github issues is not a community support channel

But nevertheless a short answer from my point of view: FIF is supported as

[2020-01-10 08:49] sappelhoff commented on #893
seems like this will be fixed in #896 I'll take a look at the spec and what can be clarified there.

[2020-01-10 19:05] #821 closed

[2020-01-14 18:04] #854 closed

[2020-01-14 19:06] rwblair commented on #896
waiting on #897 correct?

[2020-01-14 20:06] ckrountree commented on #896
Yes, it is in review...

On Tue, Jan 14, 2020 at 11:06 AM Ross Blair <notifications@github.com>
wrote:

--
--------------------------------------------
Kate Rountree
Technical Project Manager, CSM

*SQUISHYMEDIA <https://squishymedia.com/>*
2622 SE 25th Ave, Ste A
Portland, OR . 97202
*P:* (503) 488-5951

[2020-01-14 22:29] nellh commented on #896
This is mostly fixed in #897 but one lingering issue I missed testing it. 'n/a' is commonly used to mark unavailable columns and this gets interpreted as a unit error now.

[2020-01-15 10:36] CPernet commented on #786
+1 `.bidsignore` is there for that

[2020-01-15 10:36] #786 closed

[2020-01-17 15:45] jasmainak commented on #786
Sorry to pitch in late here. I'm not sure `.bidsignore` can solve the same issue. Because what `.bidsignore` does is ignore the files altogether. What users are asking for is to ignore only a specific part of the filename, not the entire file. This way, you can still use tools like PyBIDS to find entities etc.

[2020-01-17 15:47] effigies commented on #786
`.bidsignore` is a bids-validator concept, not pybids.

[2020-01-17 16:04] jasmainak commented on #786
sure, but what I'm trying to say is that `.bidsignore` should be used as a last resort because it makes large parts of the data unusable. A command line flag is less brutal and leaves the data amenable to tools like pybids

[2020-01-24 15:51] pvdemael opened #906 "Concept of the validator - RFI"
Could someone explain me the algorithmic logic of the BIDS validator?
What steps are taken from reading the file tree to the report?
How is dealt with the several rules files?
Don't kneed detailed explanations (although very much appreciated ;-) ) but I would like to understand the concept behind it.
I have no JS experience but can probably read relevant code. Thx!

[2020-01-26 08:15] sappelhoff commented on #906
The answer to this would be a great addition to the contributing guide! https://github.com/bids-standard/bids-validator/blob/master/CONTRIBUTING.md

[2020-01-27 15:50] rwblair opened #907 "Unit validation issue in bids-examples ieeg_epilepsy"

[2020-01-28 08:38] sappelhoff commented on #907
This would need to be fixed in the dataset itself: https://github.com/bids-standard/bids-examples

[2020-01-28 19:35] #893 closed

[2020-01-28 19:36] #862 closed

[2020-01-28 19:40] #845 closed

[2020-01-28 19:49] rwblair opened #909 "Jest test failure."
There's a point in the bids spec test on circle ci that is failing and I'm not sure why. Test failures for commits in #908 or other recent pull should have it.

Is #904  related?

[2020-01-28 20:19] ckrountree commented on #820
Being held up by issue with Circle CI seen in issue #909

[2020-01-29 19:11] #787 closed

[2020-01-29 19:11] #896 closed

[2020-01-29 19:49] nellh commented on #909
I think there must be a race condition in our tests which is triggered under CPU pressure. It almost goes away by adding a 10 second delay before running tests, which gives other work on the server time to settle. I was able to reproduce this on GitLab's free workers but not our custom worker as well, and the main difference is available CPU time is higher on our custom worker. It does not seem to

[2020-01-29 21:36] effigies opened #911 "Allow downstream programs to supply additional rules"
PyBIDS uses the `bids_validator` Python library to filter files by default. It is not currently possible to augment this with additional rules to allow certain (pre-standard) new files without disabling the filter entirely.

Given that the current API is an object that each caller is likely to instantiate independently, some kind of configuration that would permit each new construction to incorpor

[2020-01-29 21:36] effigies commented on #911
Related to https://github.com/poldracklab/fitlins/issues/206.

[2020-01-29 22:45] utooley commented on #675
I also have hit this problem with the latest stable pull of the `bids-validator`, version 1.4.0, though I'm on an HPC so can't increase my `ulimit` over 4096. Not sure if the issue should be fixed even for very low `ulimit`, but it sounds as if it should be.

I had previously posted about this issue on [Neurostars](https://neurostars.org/t/clarifying-file-reading-in-bids-validator-vs-fmriprep/5195

[2020-01-30 18:53] joewlambeth opened #912 "Required Properties Missing at Top Level?"
I have an EEG based BIDS project, where roughly half of the subjects have one value for "SamplingFrequency", and the other half have another. Therefore, "SamplingFrequency" is specified at each subject-level sidecar. However, having that approach yields this error:

[code]

I'm not convinced that this is a specification issue, since [this clause](https://bids-specification.readthedocs.io/en/stable

[2020-01-30 20:15] effigies commented on #912
I agree with this. Generally, the rule should be that an eeg data file should have a `SamplingFrequency` metadata associated, not that a eeg sidecar file should have it included.

I think we do this for `RepetitionTime` and `_bold.nii[.gz]` files, so there should be precedent we can follow.

[2020-02-04 17:17] sappelhoff commented on #906
@rwblair would you know somebody (or yourself) who has a sufficiently broad overview of the bids-validator codebase to write such a paragraph?

[2020-02-06 19:30] dungscout96 opened #914 "Web validator fails frequently"
We are experiencing issues with the web validator (http://bids-standard.github.io/bids-validator/) both on Chrome and on Firefox.
For the same dataset the validator hangs and the error we receive on Chrome is
<img width="1680" alt="Screen Shot 2020-02-06 at 11 14 59 AM" src="https://user-images.githubusercontent.com/10362238/73970566-3c497300-48d2-11ea-98d5-aa0a3ec53488.png">
and for Firefox it's

[2020-02-07 14:13] cmadjar opened #915 "Intended for error on a file that is there but not yet part of the BIDS spec"
I am creating a BIDS dataset that contain ASL acquisitions. Since the ASL spec has not yet been merged with the BIDS spec, I have to add those acquisitions to the `.bidsignore` file so that I do not get an error for those sequences.

We also acquire fieldmap acquisition to be used with the ASL scans and I added to the JSON file of the fieldmap acquisitions an IntendedFor field which points to the

[2020-02-10 14:22] VisLab opened #916 "bids-validator v1.4.2 throws a TypeError, doesn't run anymore"
I recently did an npm update on bids-validator. It now doesn't run on things that it previously ran on.  Here is the error that it throws:

[code]

[2020-02-10 19:36] rwblair commented on #916
@VisLab From the traceback it looks this is being generated when the validator config is being parsed. Can you post your current validator config. Once I can recreate I'll make a fix and republish.

[2020-02-10 20:43] rwblair commented on #915
The validator has a separate configuration that can be used to ignore certain codes. If you put a file named `.bids-validator-config.json` in the dataset root directory with the following in it:
[code]

The validator should ignore the intended for errors.

[2020-02-10 20:46] cmadjar commented on #915
Thank you for your reply.

I actually tried that but I still get the error when running the `bids-validator` on the dataset (see below):
[code]

Thank you!

[2020-02-10 20:52] VisLab commented on #916
I am running using command line as indicated in option 2 of the README.  I have not provided a configuration file.

Example:    bids-validator AdvancedGuard

where AdvancedGuard is the root directory of a BIDS study.  I am executing in the directory containing AdvancedGuard, but I have also tried with the full path. I am not sure what config file you need. Let me know where I should look.  The onl

[2020-02-10 21:50] rwblair commented on #915
Can you try upgrading the validator to 1.4.2. I wasn't able to get the implicit configuration to work in 1.3.6, and when I explicitly specified one with -c I received an error.

If the upgrade doesn't work one final thing to try on 1.4.2 would be to specific the full path to the configuration file.

[2020-02-10 22:42] rwblair commented on #916
The validator will look for a file called `.bids-validator-config.json` in the root  of the dataset directory and load it automatically. One option is to try  `bids-validator --no-config AdvancedGuard` to see if that gets further into validation.

Is the dataset available any where publicly? Would be helpful to attempt to recreate the issue. I haven't been able to trigger a similar issue on any da

[2020-02-10 23:47] VisLab commented on #916
I tried the --no-config and it worked! Note that the same study that worked with no problem two weeks ago has this issue.  (I updated bids-validator on January 31.)  This solves my problem, but the documentation should probably indicate that the flag is now required if a configuration file is not provided.  If you still need to see the study, I can put it somewhere, but it will take a couple of da

[2020-02-12 04:09] greydongilmore opened #917 "bids-validator v1.4.2 - Units error in channels.tsv file"
Running the validator on an iEEG dataset and getting an error within the ***_channels.tsv** file. The error is associated with the unit abbreviation (μV): `Subunit (Î¼V) of unit Î¼V is invalid.`. Anyone else running into this issue?

[2020-02-12 15:33] cmadjar commented on #915
I just upgraded to 1.4.2 and adding the `.bids-validator-config.json` file to the dataset directory worked perfectly!

I'll let you close the comment as I don't know your Github policy when it comes to closing issues.

In any case, thank you very much for your help. Very appreciated!

[2020-02-12 15:38] #915 closed

[2020-02-12 21:25] effigies commented on #917
Seems related to #878 with TSV files being loaded as latin1 instead of utf8.

cc @david-nishi

[2020-02-12 21:37] greydongilmore commented on #917
Yes, I agreed. Same error.

[2020-02-17 14:33] VisLab commented on #912
Has any progress been made on this?

The issue is we have a study where different EEG files have different sampling frequencies.  The x_eeg.json file at the top level has all of the common parameters specified, but not samplingFrequency.  Instead, this is specified in the x_eeg.json one level down below in the sub_y subdirectory (along with EEGChannelCount to override the one at the top level).  I

[2020-02-18 18:48] david-nishi commented on #917
This could be a case of double-encoded utf-8.
[code]
It's tricky to detect, but passing a decoded form of strings that have failed the unit validation process back through for a second check would allow us to bypass that, I think with minimal side-effects. Ticket is in dev backlog.

[2020-02-20 13:37] pvdemael commented on #906
I am involved in the BEP-005 on ASL and know that Marco Castellaro has written an extension for the validator. Apart from that, no, sorry

[2020-02-21 19:47] VisLab commented on #912
I'm trying to get a response on this.  The bids-validator has a JSON_SCHEMA_VALIDATION_ERROR because the samplingFrequency is missing from the top-level _eeg.json.   My reading of the bids-specification is that sidecar values are taken by the version closest to the bottom level.  Do you need to put "dummy"  samplingFrequency all the way down the tree?  If so, it should be clarified in the bids-spe

[2020-02-23 13:24] sappelhoff commented on #912
@rwblair have you had time to look at this? I also think that this is an error with the validator and not with the specification.

@VisLab I do not think that dummy values have to be put all the way down the tree.

[2020-02-25 14:21] sappelhoff commented on #781
We now have @bids-maintenance so we can get back to getting a DOI for the validator and storing the software in a zenodo archive.

Unfortunately, we still need to resolve the authorship order before we can take action: bids-standard/bids-specification#66

[2020-02-25 14:36] effigies commented on #781
As the validator is a code object, I would be inclined to follow the PyBIDS model:

[code]

[2020-02-25 14:46] effigies commented on #781
I have turned on bids-validator Zenodo processing through the @bids-maintenance user. I will open a PR this week to add `.zenodo.json`.

The default Zenodo behavior should be pretty reasonable if we need a release before then, and we can edit the metadata as needed.

[2020-02-25 15:44] rwblair commented on #912
Confirmed it as a validator issue. Looks like the reason why RepetitionTime gets away with it is because it is not listed as a required key in the bold json schema.

I'm working on finding where and how the schema is being applied to just the top level json and not the full merged list of sidecars.

[2020-02-26 17:53] effigies commented on #781
Worked as advertised: https://zenodo.org/record/3688707

Can improve from here.

[2020-02-26 18:47] MatthewZito commented on #909
@rwblair #904 is around the time when the `nifti headers` test started failing. While debugging I found that the test was receiving two different values (hence the '8 equals 9' comment). IIRC, the test was being called twice, with stdin vals 8 and 9, respectively.

[2020-02-27 12:50] #781 closed

[2020-03-03 19:24] #909 closed

[2020-03-07 00:45] nellh commented on #641
Here's another example of this issue. https://github.com/OpenNeuroOrg/openneuro/issues/1564

I think the validator is double counting things like annexed files or other symlinks where the target is within the root of the dataset.

[2020-03-10 17:38] nellh commented on #791
This is working and useful now. There is one test failure on Windows to resolve but the test suite is reporting Windows issues correctly now.

[2020-03-10 17:38] #791 closed

[2020-03-10 17:57] nellh opened #926 "readDir does not behave as expected when following symbolic links on Windows"
Test failure reported [here](https://gitlab.com/bids-standard/bids-validator/-/jobs/459698562).

[code]

[2020-03-11 08:39] sappelhoff commented on #791
Thanks @nellh :-)

Just for future reference, Windows testing is happening on this GitLab mirror: https://gitlab.com/bids-standard

using the GitLab CI runner https://github.com/bids-standard/bids-validator/blob/920d1957c1788c96f3df5b0be3eb7c2be594f8d3/.gitlab-ci.yml#L1-L14

[2020-03-12 09:11] JegouA opened #928 "bids-validator in Python for Windows OS"
Hello,

I am working on Windows OS and I had difficulty using bids-validator python package.
bids-validator couldn't match my path with the rules. I changed the separator of my path '\\' in '/'  and it seems working now.

I just don't know if it's the best solution. Do you know a better solution?

Thank you
Aude

[2020-03-13 09:26] sappelhoff commented on #928
Sounds like the python code uses hard coded separator strings like `/` instead of using `os.path.sep` 🤔

see e.g.: https://github.com/bids-standard/bids-validator/blob/920d1957c1788c96f3df5b0be3eb7c2be594f8d3/bids-validator/bids_validator/bids_validator.py#L36

If that's the issue, it could be fixed in all `.py` files

[2020-03-24 06:36] TheChymera commented on #758
@nellh working on another update to the Gentoo package. I notice there's no mention of `nose` or `pytest` in the package, am I correct to assume there's still no test suite for the Python module?

[2020-03-24 09:44] Niveauet opened #930 "Multi-level JSON schemas"
Hello,

I currently have made a change in the bids-validator\bids-validator\validators\json\json.js to include files which paths ends with pet.json so it will check the PET scan json files as well as made a pet.json schema in the schemas folder.

The problem I'm facing now is that the current standard for the PET scan data is that it's multi-level, where other data is flat. This is in the sense th

[2020-03-25 16:43] sappelhoff opened #931 "improve the docs on how to use docker"
I was playing around with docker today and wanted to use the bids-validator docker image.

The two steps described in the README are not sufficient to get started for newbies:

[code]

questions / ideas about how the current state could/should be improved:

1. should link to how install docker / to docker website
1. what do the parameters `-ti` and  `--rm` mean
1. `-v` means mounting a volume I gu

[2020-03-25 16:50] sappelhoff opened #932 "improve docs --> automatically generated?"
Most software packages of similar size and purpose as bids-validator have a comprehensive documentation. Meanwhile, we have a long README and a CONTRIBUTING file (which is not very visible).

What do you think about having dedicated docs build by some CI and then hosted on the `gh-pages` branch of this repo?

We could split the README into logical parts, improve the visibility of the CONTRIBUTING

[2020-03-25 16:52] sappelhoff commented on #928
Hi @JegouA

- did your initial fix completely solve your problem, or did it reoccur later?
- @rwblair are we continuously testing the python validator on all three common OSses?

[2020-03-25 17:01] nellh commented on #932
We have some JSDoc strings though they are far from complete and mostly aimed at developers working on the validator rather than users. Maybe something like [GitBook with JSDoc](https://medium.com/@kevinast/integrate-gitbook-jsdoc-974be8df6fb3) so we can have some user facing documentation generated from a docs tree and use the JSDoc annotations to provide developer focused docs?

[2020-03-25 17:08] sappelhoff commented on #930
Hi @Niveauet, could you supply a minimal example to illustrate your point? Perhaps something that can be posted right in this thread using the [code formatting in markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code)?

[2020-03-25 17:12] nellh commented on #928
The Python component is not tested, though the underlying regular expressions that are the majority of the logic are covered by the JavaScript test suite. CI is only run on Windows and Linux, there is no macOS CI setup currently.

[2020-03-26 08:57] JegouA commented on #928
Hello @sappelhoff

My initial fix completely solves the problem but I didn't change the python script of bids_validator.
I change the separator of my path before giving it to bids validator.

Thank you

[2020-03-30 20:25] Niveauet commented on #930
Yes of course. This is an execerpt from the dataset for PET scan files:

[code]

[2020-03-31 18:18] #928 closed

[2020-04-01 00:37] arnodelorme opened #937 "participants.tsv participant ID not checked against folder names"
For example

participant_id	gender	age	aios_score
subj-07xxxxxxxx	M	41	70
subj-08a85ac6aa	F	54	92
subj-08xxxxxxxx	M	56	80

While the folder were named sub-07xxxxxxxx, sub-08a85ac6aa and sub-08xxxxxxxx

Changed pulled from the master branch of the validator from Jan 31, 2020.

[2020-04-01 07:44] sappelhoff commented on #930
Ahh I see, thanks for the examples.

In EEG there are the "Filter" fields, which are also nested, for example:

[code]

see [bids-starter-it](https://github.com/bids-standard/bids-starter-kit/blob/master/templates/sub-01/ses-01/eeg/sub-01_ses-01_task-FilterExample_eeg.json)

This is how it is implemented in a JSON schema:

https://github.com/bids-standard/bids-validator/blob/306a8cd002e7aa713a1a93

[2020-04-03 21:17] #907 closed

[2020-04-11 15:31] VisLab opened #942 "Need permission to update the HED validator component of BIDS for units"
All,
A group of us has been working on improving the HED (https://github.com/hed-standard) event annotation schema and tools. My lab has contributed the HED validation component of the current BIDS validator.

One of the things that we have worked on is units associated with HED tags.  BIDS uses SI units (for the most part).  The HED schema had a limited list of allowed units.  We have created a n

[2020-04-11 17:22] sappelhoff commented on #942
Hi @VisLab, thanks for checking in and cool to hear about HED improvements.

Yes, BIDS RECOMMENDS SI units unless impossible ([we are using the word SHOULD in the spec, not MUST](https://bids-specification.readthedocs.io/en/stable/02-common-principles.html#units)), but we the specification is a bit unclear as to *how* the SI units should be formatted, see https://github.com/bids-standard/bids-spec

[2020-04-11 19:51] VisLab commented on #942
First, the issue that will be relevant to users tagging their data with HED:

*The issue is that our new validator will no longer support previous
versions of the HED schema.*

*given that datasets until now have been tagged with previous HED schema
versions ... how can these datasets *

*NOT be affected? What happens if the new validator encounters a previous
version of HED schemas?*

What we hav

[2020-04-12 08:13] sappelhoff commented on #942
Thanks for the details, unfortunately there is still something that I don't understand (perhaps @effigies or @rwblair can help me).

Specifically, I don't see how these two points you mention go together [emphasis added by me]:

1. All of the existing allowed units are still in there so **data that has been previously tagged will still validate**
1. We added several attributes to the schema (and t

[2020-04-12 11:59] VisLab commented on #942
By default, the latest version of  the latest version of the HED schema
is used (
https://github.com/hed-standard/hed-specification/blob/master/hedxml/HEDLatest.xml).
I will need to defer to Alexander Jones as to where that is in the code.
Users can specify a schema that is earlier explicitly in the
hed-validator.  I think that we need to discuss how we might have an
optional command line argument

[2020-04-12 14:15] sappelhoff commented on #942
that is one option. I think that another option would be to add a field to some BIDS .json (e.g., the `events.json` file) a new HED field called something like `HEDSchemaVersion`, where users put the version of the schema they used for populating the `HED` column in their `events.tsv` file.

This could further be clarified in the [HED section in the BIDS specification](https://bids-specification.r

[2020-04-13 07:54] happy5214 commented on #942
Basically, the new validator branch as written would not permit users to validate against a schema that doesn't include unit modifiers, or everything older than 8.0.0. However, since all explicit units included in earlier versions of the schema (including the current version) are either explicitly in version 8.0.0 or are derivable from those units through plurals and unit prefixes, so no HED strin

[2020-04-13 13:35] effigies commented on #942
This sounds reasonable to me.

[2020-04-13 19:09] VisLab commented on #942
Sounds good to me as well.   We have also had a discussion about doing some minor restructuring of our code so that:
1)  if the schema doesn't have unit modifiers, then only explicitly given unit classes values will be allowed as units.
2)  if the schema doesn't have unit classes, the validator doesn't validate units at all.

We believe that these changes will allow the validator to work with prev

[2020-04-16 13:10] #931 closed

[2020-04-20 17:17] nellh opened #943 "EVENTS_COLUMN_ONSET evidence field is not string type"
This throws an error when validating some OpenNeuro datasets since we require all evidence to be string formatted.

[code]

[2020-04-22 16:47] #943 closed

[2020-04-23 18:04] sappelhoff opened #945 "Improve validation of coordsystem.json files"
issue identified in https://github.com/bids-standard/bids-specification/issues/420

We have `coordsystem.json` files for EEG, iEEG, and MEG.

These get validated against JSON schemas. See for example the [EEG schema](https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/json/schemas/coordsystem_eeg.json).

In a given `coordsystem.json` file, we expect the `XXXCoordi

[2020-05-05 18:15] effigies commented on #878
Closed in #948. Please reopen if this is still an issue.

[2020-05-05 18:15] #878 closed

[2020-05-06 17:37] ckrountree commented on #820
We need to clean up the branch (delete debugging commits) and test it.

[2020-05-06 18:08] ckrountree opened #951 "Add validator check for hidden directories"
As per Franklin Feingold: this would be extending the validator to raise an `error` for hidden directories in the data structure

related: https://github.com/bids-standard/bids-validator/issues/627

**NOTE:**  moved this ticket from the OpenNeuro repo (https://github.com/OpenNeuroOrg/openneuro/issues/1412) to the Bids validator repo.

[2020-05-07 08:38] sappelhoff commented on #951
I think that also hidden files are currently not checked for, see https://neurostars.org/t/behavior-metadata-without-tsv-event-data-related-to-a-neuroimaging-data/6768/9?u=sappelhoff

I could now have my bids directory with a `.myrandom_garbage.stuff` file in there and the validator would permit that.

[2020-05-08 14:41] yarikoptic commented on #792
<details>
<summary>Looking at the code (if that is the right one)</summary>

[code]
</details>
it should just somehow (not familiar with the code base) include in the report what has tripped it (absent ses sub or incorrect modality and on what path)

[2020-05-08 14:51] yarikoptic commented on #792
oh, and in my case it tripped because it was an empty (no data fetched yet) datalad dataset.  See https://github.com/datalad-datasets/hcp-structural-preprocessed/issues/2#issuecomment-625851854 .  I think checks for the content being present should be done elsewhere not in 'quick check'.  Howto reproduce:
[code]
NB updated validator to 1.5.2 -- the same

[2020-05-08 14:59] effigies commented on #792
I would guess we're doing a `stat` instead of `lstat` when checking existence, so missing targets show up as missing files rather than empty.

[2020-05-08 18:48] dorahermes opened #953 "Validator error with iEEG data in MEF3 format"
I am preparing a BIDS-iEEG dataset to share on OpenNeuro. Some of my iEEG data are in MEF3 format, which should currently be allowed (but not supported) and maybe give a warning, but not an error. The validator does however not recognize the _ieeg.mefd file as BIDS-compatible and gives errors.

@sappelhoff @maxvandenboom

[2020-05-08 19:18] sappelhoff commented on #953
Hi @dorahermes that is because `mefd` files are not in the list of regular expressions, currently I see only `mef` there 🤔

so is `mef` wrong and it should be `mefd`? Or does the MEF3 format have several file extensions?

https://github.com/bids-standard/bids-validator/blob/1888b87268c8f4bff26e073a96191dccca137e60/bids-validator/bids_validator/rules/file_level_rules.json#L180-L189

PS: Great to ge

[2020-05-08 19:42] dorahermes commented on #953
Ah, thanks @sappelhoff that's it:  "mef" should be "mefd".

PS. I am really enjoying working with MEF3 data, since it allows for indexing and loading parts of the data so I can very easily work with much larger datasets)

[2020-05-08 20:48] dorahermes commented on #953
I opened a pull request #954 to resolve

[2020-05-09 17:19] sappelhoff commented on #953
I just realized that we may have to adjust the validator further and tell it that `mefd` "files" are actually directories.

Same as for MEG `.ds` directories:

https://github.com/bids-standard/bids-validator/blob/6a937a1ba1d08d3e14d3f0c984ab6ba8a7f7a9fd/bids-validator/utils/bids_files.js#L66-L78

But we can wait for Dora to confirm / dis-confirm that validation is working now (in the `master` vers

[2020-05-11 21:46] dorahermes commented on #953
I can not confirm that validation is working yet at the link to the  "master" web validator is not working for me. What would be the best way to test?

I can also prepare an example empty dataset and share on github.

[2020-05-12 04:13] dvm-shlee opened #956 "[Code 0] Internal Error: Cannot read property 'HED' of null"
Hi All, I have an issue during the validation as below. This issue is not showing when I check 'ignore
NifTi Header'. Attacking screenshot and error message.

Thanks!

![Picture1](https://user-images.githubusercontent.com/7221078/81637803-46a16e80-93e5-11ea-8393-6bc73a089c2a.png)

Reason:
Cannot read property 'HED' of null; please help the BIDS team and community by opening an issue at (https://gi

[2020-05-12 08:32] sappelhoff commented on #953
Mmh if the web "master" validator is not working, you could install the command line "master" validator, using [these instructions](https://github.com/bids-standard/bids-validator/blob/master/CONTRIBUTING.md#using-the-development-version-of-bids-validator).

Or perhaps @nellh can tell us how we can use the "master" version of the validator, if at all possible? (E.g. a circleci artifact or similar?

[2020-05-12 08:35] sappelhoff commented on #956
perhaps @happy5214 can help

[2020-05-12 17:03] sappelhoff commented on #953
I talked about this with @rwblair today and the web master validator may be available in the future, but (probably) not now.

so trying to use the command line master validator seems like the best option for now.

[2020-05-12 18:03] rwblair commented on #956
https://github.com/bids-standard/bids-validator/blob/0d21b0adc30ab00ba53df61cbbb4d931cbac36ee/bids-validator/validators/events/hed.js#L31

Might be coming from here. Will try and replicate error and add a check to ensure sideCarValue is defined.

[2020-05-12 19:37] dorahermes commented on #953
I have an updated fork with the bids-validator and ran yarn to install the bids-validator and added this path in my .bashrc. However, I am not sure whether how to actually run the github/development version, since I also already had installed the validator through the command line before (current version 1.5.3) by npm install -g bids-validator... I am sorry for being such a newbie here, but I actu

[2020-05-12 20:00] sappelhoff commented on #953
`npm uninstall -g bids-validator` should remove your previously install bids-validator.

Then to check if you are actually using bids-validator from your cloned GitHub fork (that you updated to bids-standard/bids-validator), do the following:

1. open a new terminal
1. run `bids-validator --version` ... should be 1.5.3
1. `cd` to your `bids-validator` directory (your clone of your fork)
1. run `gi

[2020-05-13 16:44] dorahermes commented on #953
Thanks @sappelhoff !

We still get an error with .mefd file folders @maxvandenboom is looking at how to fix this and may do a pull request/or come back with some questions.

[2020-05-13 17:07] sappelhoff commented on #953
sounds great :-) I think it has something to do with the fact that `mefd` is a directory, but currently handled the same way as a file.

perhaps what I wrote in https://github.com/bids-standard/bids-validator/issues/953#issuecomment-626208416 is helpful @maxvandenboom

[2020-05-13 17:23] tsalo opened #957 "Allow fractional seconds in scans file datetimes"
This stems from bids-standard/bids-specification#470, and is related to nipy/heudiconv#447 and nipy/heudiconv#451.

In bids-standard/bids-specification#470, I am proposing that fractional seconds be allowed in the accepted datetime format for the `acq_time` column in scans files. @sappelhoff pointed out that the validator will need to be updated in line with this change to the specification. The l

[2020-05-13 18:32] sappelhoff commented on #957
cc @rwblair

[2020-05-14 05:09] MaxvandenBoom commented on #953
Hi everyone!

I created a pull request https://github.com/bids-standard/bids-validator/pull/958 to solve the issue.
- bids-validator/bids-validator/utils/bids_files.js
@dorahermes The regex adjustment to 'mefd' was almost it, but there was a nuance. The regex is about files, the MEF3 format only has a directory with .mefd, so the files inside of this directory continued to produce errors. I made a

[2020-05-14 15:55] rwblair commented on #957
Fortunately looks like the library we use supports fractional seconds:
https://date-fns.org/v2.9.0/docs/parse

I'll try updating the format string to use them and seeing how it plays with existing datasets.

[2020-05-14 20:51] dvm-shlee commented on #956
@rwblair  I think I found where the issue comes from and posted in neurostars forum.
Thank you for hinting about the potential origin of the issue!
https://neurostars.org/t/code-0-internal-error-cannot-read-property-hed-of-null/6895/4?u=dvm-shlee

[2020-05-17 23:38] MaxvandenBoom opened #959 "Python implementation incompatible with windows paths"
Hi guys,

I really like the cross-platform compatibility of the bids-validator and the .js node implementation works perfect, but the python implementation breaks on windows filepaths (due to the backslashed instead of forward slashes).

It is possible to change the slashes in the filepaths in my own code (before feeding them to python's is_bids function), however, that feels more like a workaroun

[2020-05-17 23:43] MaxvandenBoom commented on #959
I am aware of issue https://github.com/bids-standard/bids-validator/issues/928, but I prefer not to settle for a workaround and am offering two solutions and a pull-request here

[2020-05-18 06:40] sappelhoff commented on #959
Hi @MaxvandenBoom thanks for suggesting some improvements!

as far as I know this is also not allowed in BIDS :thinking: but I may fail to think about some edge case here.

potential third option:

Would it be an option to parse a regexp and replace any kind of slashes in the regexps with `os.sep` in Python?

Provided that these slashes are not escaped or escape slashes themselves?

Finally, I thi

[2020-05-18 15:23] MaxvandenBoom commented on #959
Hi Stefan,

The regexes are the basis for checking paths in all interfaces. Replacing the slashes in python with `os.sep` is definitely also solution, but it still doesn't make the regexes os-compatible. So if you add another interface for a different language in the future, you would have to replace them in that situation as well to keep the whole OS-compatible. I think that adjusting the regexes

[2020-05-18 15:35] sappelhoff commented on #917
@greydongilmore has this been fixed with #948 ? If not, please reopen.

[2020-05-18 15:47] sappelhoff commented on #916
To my knowledge this is not the case. The `--no-config` is not required (and not documented as you say) ... rather, a user can optionally use `--config <path>` to apply a config file.

There must have been a different issue at work and given that neither Ross nor I could replicate it, I am closing this for now.

Please feel free to re open if this is still a concern. Then we can discuss how to rep

[2020-05-18 15:47] #916 closed

[2020-05-18 15:48] sappelhoff commented on #914
Hey @dungscout96 sorry for the late reply. Do you still have the issue?

[2020-05-18 19:29] greydongilmore commented on #917
When using `μV` in my bids code I still get a `INVALID_TSV_UNITS` error.

[2020-05-18 20:10] sappelhoff commented on #917
mmh could it be that you are using the GREEK MU sign: https://www.compart.com/de/unicode/U+03BC

instead of the MICRO SIGN:

and the MICRO SIGN (µ) is the one we expect in the validator: https://www.compart.com/de/unicode/U+00B5

https://github.com/bids-standard/bids-validator/blob/3d5fb2f2d95e098b62a2ca663a203b4baada65c5/bids-validator/utils/unit.js#L92

note that we are aware that this is troubl

[2020-05-18 20:57] greydongilmore commented on #917
Updating my bids code using `\u00B5` I am getting the same error with the updated decoding: `Subunit (ÂµV) of unit ÂµV is invalid`

[2020-05-18 22:29] MaxvandenBoom opened #962 "UTF-8 check on .tsv files"
Hi again :)

The bids-validator gives me an error when JSON files are not in UTF-8 ("JSON files must be valid utf-8."). But it does not give me a similar error for (ASCII) .tsv files

Could it be that such an UTF-8 check is not implemented for .tsv files?

[2020-05-19 05:52] happy5214 commented on #956
The issue was that a `null` sidecar value violated the assumption that `sidecarValue` is a non-null object. I've fixed that and also added an actual object type check.

[2020-05-19 07:16] #956 closed

[2020-05-19 09:11] #953 closed

[2020-05-19 17:46] cdale8 opened #964 "[Code 0] Internal error - e.split not a function"
I'm working on a relatively large dataset with mixed modalities that, in early/mid-March 2020, would run through bids-validator and spit out the expected errors and warnings for things like unknown channels and units appearing in some MEG-based tsv files and missing json values in bold and dwi files. I have fixed these minor issues in the conversion code, but now the test directory is kicking this

[2020-05-25 09:13] happy5214 opened #967 "Non-NIFTI event data not tested"
The event validation does not appear to validate event data for EEG datasets, nor any non-NIFTI datasets for that matter. Lines 61 and 79 of `validators/events/events.js` in particular appear to assume NIFTI "bold" data. If NIFTI data is not in the dataset, it will not check event data associated with other filename templates.

This will need to be fixed in order to run EEG validation with the sid

[2020-05-25 12:50] VisLab commented on #967
To that end --- has issue #912 (also a bug) ever been addressed?

[2020-05-25 20:01] effigies commented on #967
Yes, this should operate on any `events` file, whether EEG or [behavioral](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/07-behavioral-experiments.html).

[2020-05-25 21:47] MaxvandenBoom commented on #962
I checked this issue and I am pretty sure only the encoding of JSON files is validated, not that of the .TSV files.

It should be fairly easy to fix and I would like to make a pull request, but that would require the addition of a new error code or broaden the scope of the JSON one `123` - `INVALID JSON ENCODING`. @sappelhoff What do you prefer? And is there a system to the error codes that I shou

[2020-05-26 02:26] effigies commented on #962
ASCII is a valid subset of UTF-8, so that certainly shouldn't be an error. Can you put in an invalid byte sequence and see if that produces a reasonable error?

[2020-05-26 07:11] acsouza opened #968 "[Code 0] INTERNAL ERROR"
Hi,
I'm running BIDS validator on a small test dataset with only 2 subjects and only one modality (fMRI). Got this error e.split is not a function. Does anyone know what the problem is?

Evidence:

Nn/<@https://bids-standard.github.io/bids-validator/_next/static/xR2eAacfkH2A9NYaGkYfI/pages/index.js:1:1607905 Nn@https://bids-standard.github.io/bids-validator/_next/static/xR2eAacfkH2A9NYaGkYfI/pages

[2020-05-26 07:33] sappelhoff opened #969 "overhaul units validation in bids-validator"
we are currently in the final review round of a PR in bids-specification that will require CMIXF formatting of SI units: https://github.com/bids-standard/bids-specification/pull/411

Once that PR is merged, we should "switch off" units validation as it is currently and then start re-implementing / changing the way we validate to be in line with the specification again.

We also need to consider ca

[2020-05-26 13:11] rwblair commented on #968
The split function is called in quite a few places in the validator. Shows up in bvec, bval, header fields, tsv, events, and hed validation among other places.

To confirm do all the nifti files contain headers? What json or tsv files have you added to the dataset so far? A list of the paths and files in the dataset would be helpful, can test similar setup to try and recreate the error.

[2020-05-26 17:58] MaxvandenBoom commented on #962
Would the argument of ASCII being a subset of UTF-8 not apply to JSON as well then? Because there is an explicit check for that in the validator.

This issue derives from having the wrong or wrongly encoded micro sign µ in the _channels.tsv. It does produce a reasonable error saying the sign is incorrect. But should it in addition to that not also check the encoding like what happens to the JSON f

[2020-05-26 21:48] acsouza commented on #968
Thanks for your reply!
I have .json files for anatomical and functional subfolders (creatted with dcm2nixx). Also have dataset_description.json and participants.tsv (only 4 fields) which I created manually as I'm just testing with a small dataset.
I don't have any more errors besides the one mentioned.

|-- dataset_description.json
|-- participants.tsv
|-- sub-01
|   |-- anat
|   |   |-- sub-01_T1

[2020-05-26 22:13] acsouza commented on #968
I've got some help and was actually an error with one of the fields in the dataset_description.json

[2020-05-26 22:41] #968 closed

[2020-05-27 17:09] sappelhoff commented on #969
@rwblair will your new package https://github.com/poldracklab/cmixf-js be easily integrated into bids-validator?

[2020-05-27 17:23] rwblair commented on #969
Should be. It's published it on npm. Don't have time at the moment but I'll make a PR for the validator to try and use it next week.

[2020-05-29 19:39] happy5214 commented on #967
I think the actual issue is rooted even deeper. The event validation code loops through a filtered set of headers, and the original header list is only generated for NIFTI data. See line 45 of https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/events/events.js and line 148 of https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/bi

[2020-05-31 17:22] adam2392 opened #971 "Validator should throw an error if scans.tsv and scans list don't match?"
Reference issue: https://github.com/mne-tools/mne-bids/pull/443

If one sets up a BIDs valid dataset, then the scans.tsv sidecar file should be a reference of truth, and reflect what is actually in the scans list, else an error should be thrown.

Currently, the bids-validator will pass if one deletes scans from the dataset, but not from the scans.tsv file.

[2020-06-02 07:12] sappelhoff commented on #971
Yes, I agree that it'd be sensible for the validator to check that each file referenced in `scans.tsv` is actually present in the dataset.

[2020-06-02 10:06] sappelhoff commented on #959
@MaxvandenBoom did you implement your fix? Did you test it and does it work?

I think bids-validator would now be ready to receive a PR for fixing the windows functionality.

[2020-06-02 14:00] MaxvandenBoom commented on #959
Hi Stefan! Yeah, I fixed the regexes and that works perfect!

I might have missed out on the latest progress a bit, so decision was to add windows testing on GitActions (https://github.com/bids-standard/bids-validator/pull/966), right?
Can I now just create a pull request with the updated regexes?

[2020-06-02 14:03] sappelhoff commented on #959
nice

yes please :)

[2020-06-02 14:17] sappelhoff commented on #926
Do you have an idea how to fix this @nellh ? it seems like that's the only failing test on Windows :thinking:

Otherwise, if this feature is impossible to implement for windows, we can add some `if_windows_skip_this_test` logic and mention in the README that symlink validation won't work on Windows.

[2020-06-03 16:17] #926 closed

[2020-06-03 19:28] tsalo opened #974 "Use bids-specification files for filename patterns"
This may be premature, but in https://github.com/bids-standard/bids-specification/pull/475 we are attempting to build a machine-readable version of the specification that can be versioned and pulled in for other packages, like `pybids` and `bids-validator`. While the PR is in early stages, I wanted to make sure that the `bids-validator` devs were aware of the effort, so they could provide input if

[2020-06-11 15:42] jasmainak commented on #971
@adam2392 can you give this a shot with a PR?

[2020-06-11 16:05] adam2392 commented on #971
Can try sometime in the near future! Will add this to my sticky notes of laundry list TODO.

Have not seen or worked w/ this codebase yet. Any advice on where  to start looking first, and/or best path forward?

[2020-06-11 17:48] sappelhoff commented on #648
Passing `.bidsignore` as a directory does not seem to be possible anymore:

![image](https://user-images.githubusercontent.com/9084751/84421906-85148e00-ac1c-11ea-8798-c5a74662049e.png)

however, the error message could be improved.

[2020-06-11 17:51] sappelhoff commented on #637
Now that common derivatives are finally merged, we are planning to open discrete issues and corresponding PRs to implement validation checks.

This will be tracked in https://github.com/bids-standard/bids-validator/projects/1 ... so if you have ideas for issues, please open them and add them to the project.

[2020-06-11 17:51] #637 closed

[2020-06-11 17:58] sappelhoff commented on #930
@Niveauet did you make any progress on this?

[2020-06-11 18:00] sappelhoff commented on #849
this was mentioned in #571 already, which I'll close as a duplicate

[2020-06-11 18:01] sappelhoff commented on #571
closing this, but we'll deal with it in #849

[2020-06-11 18:01] #571 closed

[2020-06-11 19:50] jasmainak commented on #971
Perhaps @nellh or @rwblair can help :)

[2020-06-11 20:22] rwblair commented on #971
@adam2392  So it looks like the full 'fileList' is getting passed into the main tsv validation file bids-validator/validators/tsv/tsv.js. An example of this fileList being used in validating another type of tsv file can be found here:

https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/tsv/tsv.js#L140

The scans.tsv validation happens a bit futher in the function

[2020-06-12 16:58] happy5214 commented on #967
The repetition time validation would not be affected, as those datasets have NIFTI, but EEG and other non-NIFTI data passed through to the HED validation will have an empty header list, causing the validation to not run at all.

[2020-06-17 10:49] zits69 opened #977 "Cannot read property 'Authors' of null"
Hi
I tried to upload my dataset to OpenNeuro, and I got an error. When I try with the BIDS validator I get a similar problem:

TypeError: Cannot read property 'Authors' of null at Tn (https://bids-standard.github.io/bids-validator/_next/static/xR2eAacfkH2A9NYaGkYfI/pages/index.js:1:1608313) at https://bids-standard.github.io/bids-validator/_next/static/xR2eAacfkH2A9NYaGkYfI/pages/index.js:1:161076

[2020-06-19 12:03] sappelhoff commented on #977
Hi @zits69 could you please post the contents of your `dataset_description.json` here?

You can format the contents using backticks: `

Do it like this:

[code]

[2020-06-22 08:52] sappelhoff commented on #969
bids-standard/bids-specification#411 is now merged, we should "deactivate" current unit validation ASAP @rwblair

[2020-06-22 12:37] zits69 commented on #977
Hi @sappelhoff , thanks for your reply! Here it is:

[code]

[2020-06-22 12:47] sappelhoff commented on #977
Thanks @zits69 --> there are several issues with this file. paste the contents into https://jsonformatter.curiousconcept.com/ to see.

Some examples:
- you are using tab characters instead of space characters in some strings
- some JSON objects are not properly opened or closed (take a look at all your brackets

After fixing all your errors, and taking a really good look at that JSON, try to valid

[2020-06-22 12:49] zits69 commented on #977
Thank you

[2020-06-22 12:50] zits69 commented on #977
Sorry i didn't mean to close it! Thank you and I'll check your suggestions now and get back to you
z

[2020-06-22 12:58] zits69 commented on #977
it worked thank you for your help!

[2020-06-22 12:59] sappelhoff commented on #977
good to hear, happy to help. :-)

[2020-06-22 12:59] #977 closed

[2020-06-22 16:35] MaxvandenBoom commented on #959
All working now :)

[2020-06-22 16:35] #959 closed

[2020-06-23 15:54] rwblair opened #979 "Check that every file that should be referenced in scans.tsv is."
#971 #976 Check that any file in a scans.tsv exists. Now we look at all existing files and make sure they are in scans.tsv if necessary.

- collect all "scans" (i.e., NOT the scans.tsv! ... either nii.gz, or .fif., or a vhdr+eeg+vmrk triplet, or a .ds directory, ...) at a subj/session level
- check that IF a scans.tsv file exist, all of the scans are entered in there

[2020-06-23 15:54] #971 closed

[2020-06-23 22:57] rwblair opened #980 "Check for file naming conflict between derivatives and raw dataset."
"Filenames that are permissible for a raw BIDS data type have a privileged status. Any modification of raw files must use a modified filename that does not conflict with the raw filename. Further, any files created as part of a derivative dataset must not match a permissible filename of a valid raw dataset. Stated equivalently, if any filename in a derivative dataset has a name permissible for a r

[2020-06-23 22:58] rwblair opened #981 "Enforce derivatives filename schema."
Each Derivatives filename MUST be of the form: `<source_entities>[_keyword-<value>]_<suffix>.<ext>`

[2020-06-23 22:59] rwblair opened #982 "Issue warning on identical derivative filenames."
There is no prohibition against identical filenames in different derived datasets, although users should be aware of the potential ambiguity this can create and use the sidecar JSON files to detail the specifics of individual files.

[2020-06-23 23:01] rwblair opened #983 "enforce source_entities filenaming"
When the derivatives chain involves outputs derived from a single raw input, source_entities MUST be the entire source filename, with the omission of the source suffix and extension. One exception to this rule is filename entities that are no longer relevant. Depending on the nature of the derivative file, the suffix can either be the same as the source file if that suffix is still appropriate, or

[2020-06-23 23:04] rwblair opened #984 "How can we validate this derivaties rule regarding the use of _desc-<label>?"
When necessary to distinguish two files that do not otherwise have a distinguishing entity, the _desc-<label> keyword-value SHOULD be used. This includes the cases of needing to distinguish both differing inputs and differing outputs (for example, _desc-T1w and _desc-T2w to distinguish brain mask files derived from T1w and T2w images; or _desc-sm4 and _desc-sm8 to distinguish between outputs gener

[2020-06-23 23:05] rwblair opened #985 "Issue warning for wonky not yet standardized file names in derivatives."
When naming files that are not yet standardized, it is RECOMMENDED to use names consistent with BIDS conventions where those conventions apply. For example, if a summary statistic is derived from a given task, the file name SHOULD contain _task-<label>.

[2020-06-23 23:07] rwblair opened #986 "Issue warning/error for derivatives missing json file"
Each derivative data file SHOULD be described by a JSON file provided as a sidecar or higher up in the hierarchy of the derived dataset (according to the Inheritance Principle) unless a particular derivative includes REQUIRED metadata fields, in which case a JSON file is also REQUIRED.

[2020-06-23 23:10] rwblair opened #987 "Validate SpatialReference metadata fields for derivatives."
RECOMMENDED if the derivative is aligned to a standard template listed in Standard template identifiers. REQUIRED otherwise. For images with a single reference, the value MUST be a single string. For images with multiple references, such as surface and volume references, a JSON object MUST be used.

https://bids-specification.readthedocs.io/en/stable/05-derivatives/02-common-data-types.html#spatia

[2020-06-23 23:14] rwblair opened #988 "Enforce metadata propagation in derivatives json files."
All REQUIRED metadata fields coming from a derivative file’s source file(s) MUST be propagated to the JSON description of the derivative unless the processing makes them invalid (e.g., if a source 4D image is averaged to create a single static volume, a RepetitionTime property would no longer be relevant).

[2020-06-24 12:35] sappelhoff opened #990 "Why are "physio.tsv.gz" and its JSON currently not valid for eeg/meg/ieeg ?"
while going though `_physio` and `_stim` files (see https://github.com/bids-standard/bids-specification/pull/513), I realized that the validator currently does not accept files like `sub-05_task-matchingpennies_recording-eyetracking_physio.tsv.gz`:

[code]

This is because the regular expressions for:
- `_physio.tsv.gz`
- `_stim.tsv.gz`
- `_physio.json`
- `_stim.json`

are specified for `func`, bu

[2020-06-24 12:38] effigies commented on #990
Agreed. I would move these out of the `func` regex and into a `physiostim` (or similar) regex that can accept multiple data types. I would add `beh`, as well, for that matter.

[2020-06-24 14:10] robertoostenveld commented on #990
hmm, interesting consideration. In preparing the BEPs for MEG, EEG and iEEG we have not discussed adding the physio and stim files. Although for iEEG there was a discussion on electrical stimulation, but that was non-continuous and ended up as https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/04-intracranial-electroencephalography.html#electrical-stimulation

Starting

[2020-06-24 14:34] rwblair opened #991 "Add regex for preprocessed, coregistered and/or resampled volumes."
[code]

[2020-06-24 14:35] rwblair opened #992 "Add field validation for required derivatives metadata."
- SkullStripped | REQUIRED. Boolean. Whether the volume was skull stripped (non-brain voxels set to zero) or not.
- Resolution | REQUIRED if res is present. String, or object mapping labels to strings. Specifies the interpretation of the resolution keyword.
- Density | REQUIRED if den is present. String, or object mapping labels to strings. Specifies the interpretation of the density keyword.

[2020-06-24 14:37] rwblair opened #993 "Add regex for mask filenames in derivatives"
[code]

[2020-06-24 14:38] rwblair opened #994 "Validate new mask metadata fields in json sidecars."
- RawSources | Same as defined in Introduction, but elevated from OPTIONAL to REQUIRED
- Type | RECOMMENDED. Short identifier of the mask. Reserved values: Brain - brain mask, Lesion - lesion mask, Face - face mask, ROI - ROI mask
- Atlas | OPTIONAL. Which atlas (if any) was used to generate the mask. RECOMMENDED if label entity is defined.
- Resolution | REQUIRED if res is present. String, or obj

[2020-06-24 14:43] rwblair opened #995 "Validate new segmentation metadata fields in json sidecars."
- Manual | OPTIONAL. Boolean. Indicates if the segmentation was performed manually or via an automated process
- Atlas | OPTIONAL. Which atlas (if any) was used to derive the segmentation.
- Resolution | REQUIRED if res is present. String, or object mapping labels to strings. Specifies the interpretation of the resolution keyword.
- Density | REQUIRED if den is present. String, or object mapping l

[2020-06-24 14:46] rwblair opened #996 "Add Discrete Segmentations filename regex"
[code]

[2020-06-24 14:47] rwblair opened #997 "Add Probabalistic Segmentations filename regex"
[code]

[2020-06-24 14:49] rwblair opened #998 "If probablistic segmentation is 4d validate LabelMap key in sidecar."
Values of label SHOULD correspond to abbreviations defined in [Common image-derived labels](https://bids-specification.readthedocs.io/en/stable/05-derivatives/03-imaging.html#common-image-derived-labels). Example:
[code]

[2020-06-24 14:52] rwblair opened #999 "Add Discrete surface segmentations filename regex"
[code]

The hemi tag is REQUIRED for GIFTI files storing information about a structure that is restricted to a hemibrain.

The REQUIRED extension for CIFTI parcellations is .dlabel.nii.

[2020-06-24 14:55] rwblair opened #1000 "Validate custom dseg.tsv files."
- index | REQUIRED. The label integer index
- name | REQUIRED. The unique label name
- abbreviation | OPTIONAL. The unique label abbreviation
- color | OPTIONAL. Hexadecimal. Label color for visualization
- mapping | OPTIONAL. Corresponding integer label in the standard BIDS label lookup

https://bids-specification.readthedocs.io/en/stable/05-derivatives/03-imaging.html#common-image-derived-labels

[2020-06-24 15:02] sappelhoff commented on #990
Thanks Robert! I generally agree with you and the things you say in your last paragraph.

For some things you say however, I have a slightly different take - let me address them point by point:

---

I don't have a strong opinion about what *type* of data eyetracking is, as long as I can clearly see that it's eyetracking, which I think is quite clear from:

[code]

And currently, BIDS does support

[2020-06-24 16:09] rwblair commented on #190
As far as I can tell this is still a potential issue with afni. Moving to low hanging fruits

[2020-06-24 16:50] rwblair commented on #298
These rules are now enforced in the top_level_rules.json regex.

[2020-06-24 16:50] #298 closed

[2020-06-24 16:51] #334 closed

[2020-06-24 17:08] rwblair commented on #303
Currently events files with 'echo-' matches will still validate when they shouldn't. To fix this events.tsv and physio.tsv will need to be moved from the 'func' regex in bids-validator/bids_validator/rules/file_level_rules.json into their own new dictionary with the same regex except without the echo rules.

[2020-06-24 17:46] sappelhoff commented on #932
Developer focused docs would be a great improvement, because it would help us to recruit more contributors!

This just came up again in a separate email thread containing several BIDS BEP Leads, so this is still very much wanted and needed.

[2020-06-24 18:25] rwblair commented on #767
@sappelhoff can you test this again if you have any spare time? I just tried and was unable to recreate. I dropped in the old regex and the example your provided with the out of order acq passed validation, then tried again with the current meg regex and it fails to validate.

I compared the two regex and I can't figure out why it would work as expected now, but not then.

[2020-06-24 21:07] rwblair commented on #990
#1001 expands physio and stim files to eeg ieg meeg. The specification in 06-physiological-and-other-continuous-recordings.html is very explicit about func, so that should either be updated to include *egs or made ambiguous enough to cover them.

There are some key/value regex that only appear in functional file names (rec, dir, ce...) or in the *eg in general (split) or in ieeg (space). Would the

[2020-06-25 00:37] adam2392 opened #1002 "Problem with error in scans.tsv matching for directory-based datasets (BTI, CTF, ...)"
**Summary**
In the recent PR #976 scans in the scans.tsv file are matched against files found in the system. However, this for some reason breaks when doing BTI and CTF data.

See mne-bids related issue: https://github.com/mne-tools/mne-bids/issues/459

BTI and CTF data are unique because they nest another folder within the normal `<kind>/<fname>`, and their scans.tsv looks like `<kind>/<dir>/<fna

[2020-06-25 06:17] sappelhoff commented on #990
are you referring to the fact that the examples have `func` in them? Or that there is a reference to `.nii.gz`? I couldn't find any other reference that physio+stim is only intended for MRI/func.

These two examples are because when merging MEG,EEG,iEEG into BIDS, we never made the effort to adjust the Physio section in BIDS, so it is still pretending that BIDS is only about MRI :-)

I am trying t

[2020-06-25 06:23] sappelhoff commented on #1002
didn't read the whole issue in detail, but a quick note that I remember:

There was always the question whether for _directory based_ file formats, BIDS:
1. requires the contents of the directory to follow BIDS naming ... or
1. ignores the contents of the directory (they can follow whatever naming they like)

I am 80% sure that it's 2. ... but somebody needs to check.

[2020-06-25 09:32] robertoostenveld commented on #990
could `_physio.tsv` and `_stim.tsv` also exist on their own, like for `_events.tsv`?

[2020-06-25 09:59] sappelhoff commented on #990
reading the [behavioral sction](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/07-behavioral-experiments.html) makes me think so :thinking: what do you think?

[2020-06-25 12:57] satra commented on #767
@sappelhoff - the order does not seem to be consistently followed throughout the specification (for example: https://bids-specification.readthedocs.io/en/stable/05-derivatives/03-imaging.html#preprocessed-coregistered-andor-resampled-volumes)

[2020-06-25 13:10] effigies commented on #767
@satra Could you highlight what you're trying to demonstrate?

[2020-06-25 14:07] satra commented on #767
@effigies - updated - can't find the things that i thought were out of order in the templates.

[2020-06-25 14:28] adam2392 commented on #1002
As in `sub-01_ses-01_task-testing_acq-01_run-01_meg.ds/` is properly named, but the directory inside can be arbitrary?

With that case tho, then the fact that bids-validator breaks implies that it is recursively grabbing every filepath inside the bids_root. Then doing the `scans.tsv` check against that list of filepaths. If that is the case, what is the correct fix to accommodate directory based f

[2020-06-25 14:29] rwblair commented on #895
Believe this was because 'TaskName' was not defined as 'rest' inside the json file rather than the task name used in the task label:
https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#required-fields

@jbteves if the json file had the correct TaskName field let me know and I can look into it further.

[2020-06-25 14:29] #895 closed

[2020-06-25 14:51] sappelhoff commented on #1002
yes, and that's actually the case, see these tests that document it: https://github.com/bids-standard/bids-validator/blob/d7e1d39dc91c0d06570448edc1c0b700eb4d3a2c/bids-validator/tests/type.spec.js#L183-L185

it sounds like a plausible explanation for this bug ... bids-validator is descending into directories that SHOULD NOT BE CHECKED (e.g. `.ds`)

find the part in the code that does the recursion

[2020-06-25 15:20] robertoostenveld commented on #990
I don't think it is neither explicitly allowed nor explicitly forbidden. For https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/07-behavioral-experiments.html it at least says "Behavioral experiments (with no MRI)" and there is a dedicated `beh` folder. But for physio and stim the example only mentions `func` (i.e. also no `eeg` as you already figured out).

Imagine me

[2020-06-25 15:23] robertoostenveld commented on #990
Another question: is it required that these `tsv` files are gzipped? For MRI data the `.gz` extension is optional, see [here](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#anatomy-imaging-data). Why would some tsv files be gzipped and others not (like events)?

I think it makes sense to make that consistent, i.e. make it opti

[2020-06-25 15:32] robertoostenveld commented on #990
I think we should make it more future proof and already anticipate upcoming modalities like PET. So rather than extending the includelist from [`func`] to [`func`,  `eeg`, `meg`, `ieeg`], I propose to extend it to all modalities. That would also cover the `beh` example I just gave. At the Donders we have researchers that record physio during `anat` and `dwi` scans, to use as confound in the analys

[2020-06-25 15:41] sappelhoff commented on #990
yes, I would do it like that as well. We could improve coverage of the example in the physio section. But probably *after* these two are merged:

- https://github.com/bids-standard/bids-specification/pull/513
- https://github.com/bids-standard/bids-specification/pull/515

good point and it has recently been raised by @yarikoptic in https://github.com/bids-standard/bids-specification/issues/472

Th

[2020-06-25 22:02] #767 closed

[2020-06-25 22:22] rwblair commented on #360
Tested in latest web validator and was unable to see 'undefined'.

[2020-06-25 22:22] #360 closed

[2020-06-25 22:37] rwblair commented on #187
Modified bids-examples/ieeg_visual to have top level events files with run specifications. Validator did not generate code: 25 on these.

[2020-06-25 22:37] #187 closed

[2020-06-25 22:51] rwblair opened #1004 "_beh.tsv files are not subject to the same stimuli file existence checks as events.tsv."
events.tsv has their own validation section here:
https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/tsv/tsv.js#L126

beh.tsv files should skip the onset and duration validation but should be subject to any other validation that events.tsv files are.

[2020-06-25 22:51] rwblair commented on #305
sub-*/beh/*_beh.tsv are now recognized and onset and duration checks don't occur for them. There are still issues with beh.tsv validation. Opened new ticket about that here #1004

[2020-06-25 22:51] #305 closed

[2020-06-25 23:06] rwblair commented on #466
All calls directly to Buffer() have been updated. Only call left through Buffer directly uses Buffer.alloc():
https://github.com/bids-standard/bids-validator/blob/master/bids-validator/utils/files/readNiftiHeader.js#L46

[2020-06-25 23:06] #466 closed

[2020-06-25 23:38] rwblair commented on #830
Found the problem. The quick test looks at all files and sees if at least one of them will pass the isCorrectModality test:
https://github.com/bids-standard/bids-validator/blob/master/bids-validator/utils/modalities.js#L43

This really only looks at .nii*, .json, and .tsv, files and they can only be valid if they are in a subdirectory whose path has one of the modalities names in it.

I'm thinking

[2020-06-25 23:40] rwblair commented on #830
#557 is loosely related, if we had path regex we'd probably use it here.

[2020-06-25 23:42] rwblair commented on #625
Closing in favor of #869

[2020-06-25 23:42] #625 closed

[2020-06-25 23:43] rwblair commented on #869
#625 touches on this as well.

[2020-06-25 23:44] VisLab commented on #830
This is also related to issue #967.   We have looked at the code and have a
fix which happy5214 will hopefully do a pull request on.

On Thu, Jun 25, 2020 at 6:40 PM Ross Blair <notifications@github.com> wrote:

[2020-06-26 06:31] sappelhoff commented on #830
+1 @rwblair ... apparently that quick test is back from BIDS 1.0, when there was no other modality than MRI

that'd be very welcome @happy5214 and @VisLab !

[2020-06-26 15:38] #674 closed

[2020-06-26 15:39] rwblair commented on #674
Fixed in master, will have to wait for a new version to be released for it to show up on web validator.

[2020-06-28 08:57] sappelhoff commented on #1002
btw, this is related: https://github.com/bids-standard/bids-validator/issues/692

[2020-06-28 19:51] nellh opened #1007 "Implicit dependency on path-browserify"
The validator uses path functions defined by path-browserify but it does not directly depend on it. It's possible for updates to other dependencies to remove that module and break the validator in browsers where path is not part of the standard library. We should either add the browserify shim as a direct dependency or pick a portable path manipulation library to use in all environments.

[2020-06-29 17:28] #1002 closed

[2020-06-30 07:20] sappelhoff opened #1008 "Support RECOMMENDED "DataType" key-value pair in dataset_description.json"
was introduced with BIDS 1.4.0, see: https://github.com/bids-standard/bids-specification/pull/494

cc @effigies

[2020-06-30 12:23] #990 closed

[2020-06-30 13:56] #1008 closed

[2020-07-01 20:54] franklin-feingold opened #1010 "Error 1: [Code 0] Internal error. Some validation steps may not have occurred"
A user originally identified a validation bug when trying to upload onto OpenNeuro. The user is trying to upload from a remote server, using a Chrome browser. This error has since been replicated when using the web version of the validator

[code]

Dataset details:
2506 files, 165.67 GB, 56 subjects, 1 session, task based fMRI with 2 tasks, modalities: sbref, bold, events, T1w, epi

[2020-07-06 14:16] rwblair commented on #1010
@franklin-feingold can you check with the users that all their events tsv files have both onset and duration headers? First hunch is that this is where the error may be coming from.

[2020-07-07 13:41] GabrielPelletier commented on #1010
@rwblair @franklin-feingold Indeed the problem was with one of the events.tsv files. For some reason a single one of them in my entire data set was empty. I corrected this and the validation now runs smoothly with no errors returned. Thanks

[2020-07-07 14:15] rwblair commented on #1010
fixed by #1012

[2020-07-07 14:15] #1010 closed

[2020-07-07 15:23] #967 closed

[2020-07-07 20:14] effigies commented on #980
I would suggest this be a warning, because verifying exact copies is going to require a complicated check of a separate dataset.

[2020-07-21 14:09] hoechenberger opened #1018 "Validate "type" column in *_channels.tsv"
Hello, while working with the  [OpenNeuro ds001810 dataset](https://openneuro.org/datasets/ds001810) (EEG data), I discovered that e.g. `sub-01/ses-anodalpre/eeg/sub-01_ses-anodalpre_task-attentionalblink_channels.tsv` looks like this:

[code]
(`...` added by me to indicate I have omitted lines)
As you can see, the values in the `type` column are all in lowercase letters. **This dataset passes val

[2020-07-21 17:28] jasmainak commented on #1018
humm ... the specification doesn't say anywhere that uppercase is required. Or did I miss something?

[2020-07-21 17:35] hoechenberger commented on #1018
Yes, well, it doesn't say so in terms of literally stating, "use uppercase!"
But the table of valid channel types only contains uppercase spelling, and states that the list of keywords is "restricted" to those listed:

<img width="648" alt="Screenshot 2020-07-21 at 19 34 43" src="https://user-images.githubusercontent.com/2046265/88087525-57aaf080-cb89-11ea-8a9e-1062fe562775.png">

[2020-07-23 14:08] sappelhoff commented on #1018
Currently we are not even validating that the channel type comes from the list ... even when disregarding casing.

We need to add a new check similar to the one we have for checking the `status` column in `channels.tsv`:

https://github.com/bids-standard/bids-validator/blob/029e37e2d77702a9c130a365b5480c3a41461297/bids-validator/validators/tsv/checkStatusCol.js#L1-L37

when following that existing

[2020-07-23 14:12] sappelhoff commented on #1018
perhaps @adam2392 wants to give his JS skills a bump once more? :-)

[2020-07-23 16:35] sappelhoff opened #1020 "Use all-contributors bot to acknowledge and document contributions"
currently, contributions are tracked in the README (here: https://github.com/bids-standard/bids-validator#maintainers-and-contributors)

and it looks like this:

![image](https://user-images.githubusercontent.com/9084751/88312306-45a88980-cd12-11ea-8c47-2913b9f864d9.png)

---

Perhaps it'd be nicer to use the [all-contributors bot](https://github.com/all-contributors/all-contributors-bot) as for e

[2020-07-23 17:34] adam2392 commented on #1018
Sure, this seems pretty easy.

1. Check against fixed set of variables (after upper-casing everything) -> error if any variable outside list
2. If any upper-casing was needed -> fire warning that you should use upper-casing

I also just fixed this lame installation of the dev version (on mac) due to having miniconda on your terminal at all times. One needs to add explicitly `sudo conda install nod

[2020-07-23 19:47] adam2392 opened #1021 "Status of channels.tsv files if provided should only be "good", or "bad""
One thing I noticed while going through the bids-validator is that the unit tests for `tsv.js` doesn't enforce the `status` to be only `good`, or `bad`, whereas: https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/02-magnetoencephalography.html

for MEG, EEG, iEEG only uses those two keywords.

**Proposed Fix**
If `status` is a column in the `*_channels.tsv` file (since

[2020-07-24 10:48] sappelhoff opened #1023 "Follow up to PHYSIO files for more "modality folders""
in #1001 we enabled that physio files can also be stored e.g., in `eeg` dirs.

However, navigating to `eeg_matchingpennies` from BIDS-examples (on the command line) and then doing:

[code]

fails, saying that

# Fixing it

by removing the recording entity `_recording-eyetracking` from the file, everything passes again:

`mv sub-05/eeg/sub-05_task-matchingpennies_recording-eyetracking_physio.tsv.gz

[2020-07-24 11:05] sappelhoff opened #1024 "physio JSON is required when physio TSV.GZ is supplied"
see: https://github.com/bids-standard/bids-examples/issues/186

IMHO, physio JSON is REQUIRED when a TSV is supplied. But this is not enforced by the validator.

May also need a clarification about that in bids-specification. see: https://github.com/bids-standard/bids-specification/pull/542

[2020-07-24 11:15] sappelhoff commented on #1020
what are your opinions @rwblair @effigies @franklin-feingold

[2020-07-24 11:22] sappelhoff commented on #1021
isn't that what https://github.com/bids-standard/bids-validator/blob/master/bids-validator/validators/tsv/checkStatusCol.js is doing?

[2020-07-24 15:03] sappelhoff commented on #937
The issue I see here is that with a given `participants.tsv`, the validator should parse the `participant_id` column and use each row to populate a list `subject_ids`.

Then it should take the list `subject_ids` and assert that each entry corresponds to an existing directory at the BIDS root.

...

This new "feature" also has a flip side:

The validator should find all `sub-<label>` directories at

[2020-07-24 16:26] #1021 closed

[2020-07-25 02:06] effigies commented on #1020
I'm fine with moving to all-contributors if somebody has the activation energy to do it.

[2020-07-27 15:28] VisLab opened #1025 "Upgrade packages: urix, resolve-url, requests, mkdirp-promise"
I am trying to run bids-validator through npm  (bids-validator 1.5.4).  This error seems to be fixed in master, but the version on npm crashes:

bids-validator --no-config AdvancedGuardDuty
C:\Users\Kay Robbins\AppData\Roaming\npm\node_modules\bids-validator\utils\type.js:1
Error: Cannot find module '../bids_validator/rules/fixed_top_level_names.json'

[2020-07-27 17:51] sappelhoff opened #1027 "validate CHANGES file to follow CPAN Changes convention"
The CHANGES file MUST follow CPAN Changes convention, see: https://bids-specification.readthedocs.io/en/latest/03-modality-agnostic-files.html#changes

The validator should check the CHANGES file and warn or raise an error when no CPAN Changes convention is detected.

A validator is already available here: https://metacpan.org/pod/Test::CPAN::Changes

[2020-07-27 20:32] #1023 closed

[2020-07-27 20:56] rwblair commented on #1025
Very strange. I just tried a fresh install from npm and didn't see that error (used --no-config, ds000005). You might try removing C:\Users\Kay Robbins\AppData\Roaming\npm\node_modules\bids-validator\ and reinstalling with npm to see if that gets it the files it needs.

[2020-07-27 22:04] VisLab commented on #1025
Thanks.... that fixed it.  BTW, I get the following warnings when I
install.  The last one is particularly worrisome, since promises are an
integral part of the implementation.

npm WARN deprecated urix@0.1.0: Please see
https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1:
https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated request@2.88.2: request has b

[2020-07-27 23:53] rwblair commented on #1025
I'll look into upgrading those packages! What version of node are you running for reference?

[2020-07-28 00:14] VisLab commented on #1025
npm version 6.12.1

On Mon, Jul 27, 2020 at 6:53 PM Ross Blair <notifications@github.com> wrote:

[2020-07-28 10:21] sappelhoff commented on #1024
related to https://github.com/bids-standard/bids-validator/issues/672

solution should be generic code that allows something like:

- if file A is present, assert that file B is present, else error / warn

[2020-07-28 15:27] #957 closed

[2020-07-28 22:41] franklin-feingold commented on #1020
sounds good to me

[2020-07-31 17:01] Remi-Gau opened #1029 "bids validator fails on a valid bids dataset "curated" with datalad if all the annexed images are dropped"
I have "raised" the issue on the datalad front and it seems that both datalad and the validator are doing what they are suposed to do but taken together you can get some "weird" results.

In brief if a BIDS dataset is curated with datalad and if all the large file content managed by git-annex is "dropped" then the validator fails completely. Most likely this is because all the sym-link of the file

[2020-08-01 13:12] VisLab opened #1030 "EthicsApprovals not in dataset_description schema"
The EthicsApproval field is in the spec but not in dataset_description.json

[2020-08-02 08:06] #1030 closed

[2020-08-02 09:29] #1018 closed

[2020-08-02 12:07] VisLab opened #1032 "events.json does not have JSON schema"
A schema should probably be added to assure proper validation.

[2020-08-02 18:38] happy5214 commented on #942
The changes described above have been made to hed-validator.

[2020-08-02 18:41] happy5214 commented on #830
We have determined that this issue is *not* related to #967 after all. I do not currently have plans to tackle this issue.

[2020-08-03 07:12] sappelhoff commented on #830
What @rwblair said in https://github.com/bids-standard/bids-validator/issues/830#issuecomment-649869429 is on point.

this is also related to https://github.com/bids-standard/bids-validator/issues/792 --> both could be solved in one go and it looks like a reasonably simple job, so I added it to "low hangig fruits" project

[2020-08-03 10:40] sappelhoff commented on #1024
I am pinning this issue, because it's quite important to check this. physio TSV files are utterly unusable without the JSON files. same for electrodes TSV without coordsystem.json

--> we need a check for this and better sooner than later

[2020-08-03 10:51] sappelhoff commented on #1032
Could you be more specific with what you want to check with the schema?

events.tsv files have two REQUIRED columns: onset and duration, so an events.json schema could look like this:

[code]

But I am not sure

1. whether onset and duration should be REQUIRED to be described in events.json
1. how to make the schema perform valuable checks

perhaps you have thought more about this. If so, please l

[2020-08-03 13:05] VisLab commented on #1032
Roadmap.....

I'd like to wait until pull request #527 in the bids-specification and pull request #1015 of the bids-validator are incorporated before moving forward.

One reason why we think it is really important to get the HED schema version information into the spec is that we have been working on a major enhancement of HED that will need the schema during analysis.  The motivation is two-fold.

[2020-08-03 16:22] sappelhoff opened #1033 "assert that "TaskName" in JSON files corresponds to actual tasks"
e.g., This file: https://github.com/bids-standard/bids-examples/blob/7dc73456fe41bf204c1c71f6512293d2f33c6686/eeg_matchingpennies/task-matchingpennies_eeg.json#L2

has as task name `"Matching Pennies"` although the label in the files is `task-matchingpennies`

I think the validator should ensure that these two "fields" match

[2020-08-03 18:20] rwblair opened #1034 "Reorganize file_level_rules.json"
Current implementation has lots of repeated regex. I was thinking along the lines of putting all the entities and their regex in an object. Then when defining valid file names we can just have a list of entities key names (and if they are required or optional) instead of the regex itself.

I think we could also provide better feed back on filename issues if we parsed the file extension first and s

[2020-08-04 14:35] tsalo opened #1036 "Should acq and rec be supported for behavior-only data?"
This stems from https://github.com/bids-standard/bids-specification/pull/556#issuecomment-667694066. As part of https://github.com/bids-standard/bids-specification/pull/556, we noticed that the validator supports `acq` and `rec` entities for the `beh` datatype, even though the specification does not.

Is it possible that this is an oversight on the validator side, or should the specification inclu

[2020-08-04 14:38] effigies commented on #1036
There is an existing [https://openneuro.org/datasets/ds001784](dataset) with `acq-*_beh.tsv`.

[2020-08-04 16:14] tsalo commented on #1036
That seems like a good use-case for `acq`. Since `acq` is a freeform, truly optional entity, I guess it makes sense to support it in pretty much every case. Any thoughts on `rec`?

[2020-08-04 18:16] tsalo commented on #1036
Per the maintainers call today, `rec` support should be dropped from the validator, while `acq` should be added to the specification. I will incorporate the latter into bids-standard/bids-specification#556.

[2020-08-04 18:27] cdale8 commented on #964
error arose from a parse issue related to punctuation of the "authors" field in dataset_description.json

[2020-08-04 18:27] #964 closed

[2020-08-04 18:39] cdale8 opened #1037 "Code 0: internal error - too many arguments"
New, post-covid-collected dataset returns Error code 0: INTERNAL ERROR.  Data appears to be the same as the prior data set acquisitions (modalities, size, tasks, etc.) that did validate (and still validate when I re-run them through BIDS conversion and validation). I'm using same validator, BIDS conversion script, acquisition protocols, etc as for the prior successful datasets.  If any of the 4 mo

[2020-08-04 19:01] effigies commented on #1036
And we do want `recording` for `physio` and `stim`. It looks like this is covered here:

https://github.com/bids-standard/bids-validator/blob/8317fb5638dfa6d9907116e1fcfdde7d35e96a7d/bids-validator/bids_validator/rules/file_level_rules.json#L74-L84

But that also has `rec-`. Not immediately clear whether that needs to be dropped from `func/` continuous recordings or `beh/` and `func/` need to be s

[2020-08-04 19:06] tsalo commented on #1036
`rec` is labeled as OPTIONAL for `physio` and `stim` data under `func/`, so, if we assume the specification is accurate in this respect, then it should be split.

[2020-08-04 19:20] effigies commented on #1036
If we look at `anat`, we can see how to add `_recording-<>_(physio|stim).<ext>` to the other matching data.

[2020-08-04 21:56] #942 closed

[2020-08-04 22:29] rwblair commented on #1037
Is there any chance you can download and post the error log if its present?

What json or tsv files have you added to the dataset when the error is generated? A list of the paths and files in the dataset would be helpful, can test similar setup to try and recreate the error. Finally I have seen this error come up with a malformed dataset_description.json, if you can link to or post that I can test

[2020-08-05 04:51] cdale8 commented on #1037
Thanks for the reply @rwblair .  This is the contents of the downloaded errors.txt log (as well as the message on the screen):

File Path: Internal error. SOME VALIDATION STEPS MAY NOT HAVE OCCURRED

	Type:		Error
	Reason:		too many arguments provided for a function call; please help the BIDS team and community by opening an issue at (https://github.com/bids-standard/bids-validator/issues) with th

[2020-08-05 11:36] rwblair commented on #1037
So as best I can tell that error is being generated around here here:
https://github.com/bids-standard/bids-validator/blob/cb31b1130f327392292fdb2660a242cef4451b3e/bids-validator/validators/bids/fullTest.js#L196

The exact column number is on the call to the session validation function, and immediately before it is the tsv custom column validation, which is passed the contents of the json files. A

[2020-08-05 16:58] cdale8 commented on #1037
@rwblair -  thanks for the pointers.  I am validating the whole study directory at once, each time I add a participant (or small group of participants).  The various people doing analyses then have all the current subjects in one linkable location with a single file that includes all the participants.tsv info.

The successfully-validated project directory has 22504 files, 952.18GB for 236 subjects

[2020-08-05 17:39] rwblair commented on #1037
Fmriprep does make a call to the validator but there are flags to skip validation. I believe it doesn't rely on too many of the fine points of the specification, but rather relies on the file structure.

I would be interested to see how the node version of the validator does in comparison to the browser. We have had issues with some users running up against ulimits for open files. There have been

[2020-08-06 14:15] rwblair opened #1039 "Problem with top level coordsystem.json and events.json"
Fix in top level rules and in json validator:
https://github.com/bids-standard/bids-specification/issues/528#issuecomment-669951872

[2020-08-06 19:55] adam2392 commented on #672
Any suggestion on where in the code this would go?

According to the specification, I think they are always housed in the same directory no? or am I reading it wrong?

[2020-08-07 08:12] sappelhoff commented on #672
@rwblair and me are discussing that right now within https://github.com/bids-standard/bids-specification/issues/528#issuecomment-669935358

what part of the spec makes you think coordsystem and electrodes.tsv are always in the same directory?

I don't know :shrug:

[2020-08-07 15:50] rwblair commented on #672
Right now there isn't a good way to assert that one file requires another. A file requiring a json file is also a different than most cases when inheritance applies since you need to compose json files at all levels to see if any apply. Here is a PR im working on that checks this for continuous recording files:

bids-standard/bids-validator#1040

The other place we see a file type checking for the

[2020-08-10 18:03] rwblair opened #1042 "If Issue has file but file has no relative path error catching fails."
https://github.com/bids-standard/bids-validator/blob/cb31b1130f327392292fdb2660a242cef4451b3e/bids-validator/utils/issues/index.js#L64

https://neurostars.org/t/bids-validator-error-1-code-0-internal-error/16469

Fix, check that relativePath is defined. Should it always be defined?

[2020-08-11 19:48] #1024 closed

[2020-08-11 19:55] rwblair opened #1043 "Potentiallocations filters out run entity."
This is preventing from json for physio data in 7t_trt in bids-examples from validating:
https://github.com/bids-standard/bids-validator/blob/73580bfa1a9015ec92db1d03db785cada3d09178/bids-validator/utils/files/potentialLocations.js#L38

If the filter is removed ds210 will fail, specifically top level files like `task-cuedSGT_echo-1_bold.json` are not found.

Larger issue is how the function iterat

[2020-08-11 19:58] rwblair commented on #1034
We should use these schema files to enforce required entities: bids-standard/bids-specification#475

[2020-08-17 06:23] Remi-Gau commented on #1029
There is actually a work around for this that involved the arduous work of ~RTFM~ reading the help section of the bids-validator and trying some options. :facepalm:

Posted in a datalad PR.

https://github.com/datalad-handbook/book/pull/562#issuecomment-669040237

Will close this now.

[2020-08-17 06:23] #1029 closed

[2020-08-20 18:32] Remi-Gau opened #1044 "Json files for EEG, MEG, iEEG can't be "augmented" like those for BOLD?"
Posted on neurostars but this topic might be too niche so reposting here.

---
TL;DR
I have 2 questions:
- why is it not allowed to add extra-info in certain json files? I don't remember that this is mention in the specifications
- why is this behavior not also seen for the bold json that also contains extra info?

---
Working on some "dummy" data for a side project and it creates this BIDS datase

[2020-08-24 09:23] sappelhoff commented on #1044
instead of bidsignoring your empty data files themselves, you could ignore the validator error on empty data files, similar to how we do it in the bids-examples repo:

- config: https://github.com/bids-standard/bids-examples/blob/c8e01b95a1731f5744c5ce4bcae881670db0f69e/bidsconfig.json#L1-L3
- command line call: https://github.com/bids-standard/bids-examples/blob/c8e01b95a1731f5744c5ce4bcae881670d

[2020-08-24 15:13] alexrockhill opened #1046 "Modality-specific electrophysiology json sidecar files PowerLineFrequency required to be an integer"
After testing the data used for testing (20 seconds) compared to random data, the difference between the 50 Hz and 60 Hz power was not enough not to classify random data incorrectly a significant portion of the time. This means that the powerline frequency cannot be determined reliably from the data https://github.com/mne-tools/mne-bids/pull/505, and so should be given as 'n/a'. 'n/a' is not accep

[2020-08-24 15:28] sappelhoff commented on #1046
thanks @alexrockhill

I think that's weird, the validator should accept n/a ... and not -1

[2020-08-26 09:16] sappelhoff opened #1047 "update validator to allow *_acq-crosstalk.dat files for MEG"
The changes in the spec from https://github.com/bids-standard/bids-specification/pull/581 require validator adjustments:

1. `.dat` becomes a valid extension for MEG data ... but ONLY if `acq-crosstalk` is part of the file name
1. `*_acq-calibration_meg.fif` is valid ... but I think we do not need adjustments for this

crossref of original issue: https://github.com/mne-tools/mne-bids/issues/495

c

[2020-08-31 12:49] sappelhoff opened #1048 ""n/a" should be allowed for "StartTime" field in physio.json files"
Currently I get the following error:

[code]

 for this `physio.json`:

[code]

In my case, the `StartTime` was not recorded, but the `events.tsv` and `physio.tsv.gz` files contain columns that allow for aligning physio and events data (the `system_time_stamp` column, which is also described in the physio.json in this example).

So I think it'd be fair to permit `n/a` but perhaps warn that users M

[2020-08-31 13:20] sappelhoff opened #1049 "The new physio.json check does not respect Inheritance"
Thanks to @rwblair we have the new check making sure that each physio.tsv is accompanied with a physio.json ... which is REQUIRED.

However, this check should respect the inheritance principle.

For example, I am getting this error:

[code]

for a file tree like this (simplified example):

[code]

The `recording-eyetracking_physio.json` at the root defines all necessary details for the other physi

[2020-09-01 08:24] sappelhoff commented on #1032
crosslink to https://github.com/bids-standard/bids-specification/pull/573

more optional structured fields getting added to events.json --> a schema seems to become more and more useful

[2020-09-01 15:40] yarikoptic commented on #792
could this low hanging fruit be harvested please? ;)

[2020-09-01 15:42] yarikoptic commented on #197
world was a much less a better place back then, I think it improved and new dedicated issues would make it even better

[2020-09-01 15:42] #197 closed

[2020-09-01 16:00] yarikoptic opened #1050 "Make bids-validator more git-annex friendly."
There is now a number of options which could be used to provide some partial remedy: `--ignoreSymlinks` (its --help output talks about directories but I think it was meant about files), `--remoteFiles`, and `--ignoreNiftiHeaders`.
All are good but insufficient to ensure that whatever content IS present (a regular file or was fetched using git-annex) constitute a legit BIDS dataset.

I feel that
-

[2020-09-01 16:31] yarikoptic commented on #742
could it be upgraded to "top one" priority (unless somehow it is a complicated fix)? ;-)  I keep tripping on this one.

[2020-09-01 18:23] effigies commented on #1048
This demands a fair bit of flexibility from apps. It feels like it makes sense to calculate `StartTime` at dataset curation time, so that all apps using the software don't have to do the same thing.

[2020-09-02 09:32] sappelhoff commented on #1048
Thanks for the comment, in principle I agree ... however, this becomes a difficulty for cases where the `StartTime` was *not* recorded and cannot be reproduced.

In my case I'll be able to re-calculate the `StartTime` based on system timestamps and use that instead. So I'll close this for now.

[2020-09-02 09:32] #1048 closed

[2020-09-03 08:44] #1036 closed

[2020-09-03 09:19] sappelhoff commented on #1044
another argument that I forgot to document here is, that preventing "additionalProperties" allows for stronger validation. Imagine "additionalProperties" is True, and somebody acidentally adds a field `TaskNqme` instead of `TaskName`: In that case there will not be an error, because the validator thinks that `TaskNqme` is just an additional property, and not a typo of an expected property.

(howev

[2020-09-03 13:42] sappelhoff commented on #1020
Let's try this out:

@all-contributors please add @rwblair for maintenance

[2020-09-03 16:54] #1046 closed

[2020-09-04 17:56] nellh commented on #1050
The ignoreSymlinks option does only apply to directory recursion when running under Node.js. The aim with it is really an optimization for OpenNeuro, where calling stat on each symlink and target doubles the I/O cost of evaluating a git-annex dataset even though we know none of the symlinks are directories.

Some users have used symlinked directories to construct BIDS datasets where session data i

[2020-09-08 18:26] #1047 closed

[2020-09-08 23:50] adam2392 opened #1059 "Error when MRI files have `space` entity?"
I don't think the spec prevents MRI files from having `space` entity, but I got this error when running the validator:

[code]

Is this intended based on https://bids-specification.readthedocs.io/en/derivatives/05-derivatives/03-imaging.html#preprocessed-coregistered-andor-resampled-volumes ?

If not, where does this occur and perhaps I can make a PR?

[2020-09-09 00:49] effigies commented on #1059
space is not currently part of BIDS raw, but is used for derivatives.

[2020-09-09 16:08] sappelhoff opened #1060 "Specifying an array of non-strings yields unclear schema error"
When trying to validate a `dataset_description.json` file with an author field like this: `"Authors": ["good name", 1]`, I get the following error:

		.undefined
			Evidence: TypeError: author.split is not a function
    at authors.forEach.author (/home/stefanappelhoff/Desktop/bids/bids-validator/bids-validator/validators/bids/checkDatasetDescription.js:37:18)
    at Array.forEach (<anonymous>)

[2020-09-09 21:00] rwblair commented on #1049
@sappelhoff can you test this with current validator master, code that finds related files was just updated. If its still an issue can you send me the dataset you see the issue for? Haven't been able to quickly recreate with physio data I have locally.

[2020-09-09 21:53] rwblair commented on #1043
Fixed in #1057

[2020-09-09 21:53] #1043 closed

[2020-09-10 06:47] sappelhoff commented on #1049
The most recent commit (59b750416984addbe3484ddf3658ed101e1e37ec) solved this, thanks a bunch!

[2020-09-10 06:47] #1049 closed

[2020-09-11 11:18] sappelhoff commented on #1027
@rwblair if somebody wanted to make a PR for this issue, are there some caveats with regards to how they can open and read a file?

E.g., in Python I would do:

[code]

But I suspect that this is different because the bids-validator needs to work on command line AND browser (and browsers tend to have a screwy file API?)

[2020-09-11 19:51] wangjinvandy opened #1063 "Maximum call stack size exceeded;"
Our lab has very hug dataset and wants to share. However, it looks like it exceeds to maximum of the validator. Can you please increase the capacity of it?

RangeError: Maximum call stack size exceeded at Oi (https://bids-standard.github.io/bids-validator/_next/static/lcAFkzjYJB3Y9y9R5kJls/pages/index.js:1:1384136) at https://bids-standard.github.io/bids-validator/_next/static/lcAFkzjYJB3Y9y9R5kJl

[2020-09-11 19:57] effigies commented on #1063
I assume the call stack is a function of the browser, and we're unlikely to have much control over that. For an environment where you can manipulate the heap size, I would suggest [installing the CLI](https://github.com/bids-standard/bids-validator#on-the-server).

[2020-09-13 08:36] sappelhoff commented on #1039
I think we can close this one for now, see my comment in https://github.com/bids-standard/bids-specification/issues/528#issuecomment-686350453

We can reopen if someone else thinks that this is problematic.

[2020-09-13 08:36] #1039 closed

[2020-09-13 08:41] sappelhoff commented on #930
Closing now, please reopen with new input / information if this is still on your mind @Niveauet.

Or tell us how you solved your problems and leave the issue closed.

Thanks!

[2020-09-13 08:41] #930 closed

[2020-09-13 08:44] sappelhoff commented on #914
Closing because it's uncertain whether the problem still persists and there is not enough information here to replicate the issue.

[2020-09-13 08:44] #914 closed

[2020-09-13 08:46] sappelhoff commented on #932
see also https://github.com/bids-standard/bids-validator/issues/906

[2020-09-13 08:52] sappelhoff commented on #888
Sorry for the late reply. Your problem is due to this line in the code:

https://github.com/bids-standard/bids-validator/blob/a6d9ada59b8628a52520bae96f5f45eb61f86a79/bids-validator/bids_validator/rules/subject_level_rules.json#L3

the validator expects `sessions.json` files to be subject specific. Instead of supplying a single `sessions.json` file at the root, please define a `sub-<label>_session

[2020-09-13 08:52] #888 closed

[2020-09-13 09:02] sappelhoff commented on #886
Thanks for the report, I just tried to replicate the issue using your instructions and example dataset [`7t_trt`](https://github.com/bids-standard/bids-examples/tree/master/7t_trt).

1. validate `bids-validator 7t_trt/ --ignoreNiftiHeaders --ignoreWarnings` ... passes
1. remove `TaskName` from `task-rest_acq-fullbrain_bold.json`
1. validate again (see step 1) ... yields error code-50

no error cod

[2020-09-13 09:02] #886 closed

[2020-09-13 09:28] sappelhoff commented on #873
I tried to replicate this on linux Ubuntu 18.04 with `master` validator and the `eeg_matchingpennies` example dataset.

1. Validate using `bids-validator eeg_matchingpennies/` --> all fine except for empty files
1. Rename `sub-05` in the dataset to `sub-X01`
1. Validate --> same as step 1, ... no additional errors

furthermore given the status in

- https://neurostars.org/t/bids-validator-error-fo

[2020-09-13 09:28] #873 closed

[2020-09-13 09:32] sappelhoff commented on #849
Perhaps the `uniqueItems` key can be added for the schemas? https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.6.4.3

[2020-09-13 10:03] sappelhoff commented on #760
Closing now. Please reopen if this issue persists @auy17.

[2020-09-13 10:03] #760 closed

[2020-09-13 10:09] sappelhoff commented on #463
let's track this in https://github.com/bids-standard/bids-validator/issues/894

[2020-09-13 10:09] #463 closed

[2020-09-13 10:10] #397 closed

[2020-09-14 18:48] cdale8 commented on #1037
It only took a month, but IT finally installed the command line version (in a singularity container) and I ran the command line version that also returned the Internal Error:

bids-validator@1.5.4

	1: [ERR] Internal error. SOME VALIDATION STEPS MAY NOT HAVE OCCURRED (code: 0 - INTERNAL ERROR)
		.undefined
			Evidence: RangeError: Maximum call stack size exceeded
    at missingSessionFiles (/src/v

[2020-09-14 19:39] effigies commented on #1037
Can you try increasing the stack size? https://stackoverflow.com/questions/11332422/how-can-i-increase-the-maximum-call-stack-size-in-node-js

[2020-09-14 20:02] cdale8 commented on #1037
To make it more fun, I removed the subjects added in Aug-Sept from the large directory.  The command line validator returned the same error, but the web-based validator returned a valid dataset. Using a split-directory test, I can affirm the following:

The web-based validator tops out at 236 subjects/~950GB of data
The command-line validator tops out at 400GB and 565GB, depending on the capabilit

[2020-09-15 13:56] sappelhoff opened #1065 "`GeneticLevel` in schema expects array of str, but should ALSO accept a string"
EDIT: see discussion below --> this issue should be solved by allowing a string AND an array of strings

evidence in code:

https://github.com/bids-standard/bids-validator/blob/f8dc8c75d0357a3964d4d82ad4ef57337e574b70/bids-validator/validators/json/schemas/genetic_info.json#L4-L17

however, the spec says:

see: https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/08-genet

[2020-09-15 14:39] sappelhoff opened #1066 "RecordingType in ephys schemas needs to only accept 3 str keywords, but accepts all strs"
in ieeg

https://github.com/bids-standard/bids-validator/blob/f8dc8c75d0357a3964d4d82ad4ef57337e574b70/bids-validator/validators/json/schemas/ieeg.json#L43

also in meg

https://github.com/bids-standard/bids-validator/blob/f8dc8c75d0357a3964d4d82ad4ef57337e574b70/bids-validator/validators/json/schemas/meg.json#L54

and in eeg

https://github.com/bids-standard/bids-validator/blob/f8dc8c75d0357a3964

[2020-09-15 14:46] effigies commented on #1065
This was set in a reformatting: https://github.com/bids-standard/bids-specification/commit/db8cb3747606fbe41b9ab64edab51c695ed8141f

Hopefully the semantic change was reviewed. The example only shows a string, not an array.

[2020-09-15 14:51] CPernet commented on #1065
but an array e.g. ["Genetic", "Genomic"]  would be better - several analytic levels can be performed on the same data

[2020-09-15 14:54] CPernet commented on #1065
- an array makes more sense
- ukbb example is fine nothing to fix
- I guess the previous iteration bids-standard/bids-specification@db8cb37 without the 'one of' was better allowing array

[2020-09-15 14:57] effigies commented on #1065
Thanks for the clarification, @CPernet. @sappelhoff I think for backwards compatibility, we should permit a string or array of strings.

[2020-09-15 15:04] sappelhoff commented on #1065
okay, sounds good to me - practically we'd then adjust the schema to also accept str ... and I will clarify the spec in https://github.com/bids-standard/bids-specification/pull/605

[2020-09-15 15:21] CPernet commented on #1065
we also need to add in the spec the new reference :-)

`Clara Moreau, Martineau Jean-Louis; Ross Blair; Christopher Markiewicz, Jessica Turner, Vince Calhoun, Thomas Nichols, Cyril Pernet (2020) The genetics-BIDS extension: Easing the search for genetic data associated with human brain imaging. GigaScience `

don't have the issue number or page yet

[2020-09-15 17:25] #841 closed

[2020-09-15 19:48] cdale8 commented on #1037
The calls to increase stack size using the node.js option didn't work for us (myself and someone with access to root permissions). Not sure whether it's an issue with singularity or node at this point, but its definitely an issue with the size of this study.  I'm able to validate individual subject directories to affirm BIDS structure, so I think that's how I'll proceed as new data collection ramp

[2020-09-15 19:48] #1037 closed

[2020-09-15 20:02] effigies commented on #1037
I don't think adding a subject should cause us to exhaust stack frames, so there's room for a fix to be sought, but it's going to take someone with greater JS-foo than I have to find it.

[2020-09-16 09:30] sappelhoff opened #1068 "ENH ephys schemas --> all "COUNT" keys should validate that number >= 0"
The meg, eeg, ieeg schemas in https://github.com/bids-standard/bids-validator/tree/master/bids-validator/validators/json/schemas

should get an update with the `"minimum": 0` schema syntax, see [docs](https://json-schema.org/understanding-json-schema/reference/numeric.html#range) for the fields where it applies. These are namely all fields that end on `Count`:

For example

https://github.com/bids

[2020-09-16 09:33] sappelhoff opened #1069 "ENH ephys schemas --> all "Unit" keys should validate a restricted vocabulary"
The meg, eeg, ieeg schemas in https://github.com/bids-standard/bids-validator/tree/master/bids-validator/validators/json/schemas

should get an update such that they only accept a restricted vocabulary as a string for all fields ending on "UNIT".

For example

https://github.com/bids-standard/bids-validator/blob/4354d0338b6bdae40b7a038f444b5643038f6e15/bids-validator/validators/json/schemas/coords

[2020-09-16 09:37] sappelhoff opened #1070 "FIX ephys schema: "epoch length" should only accept positive number, not string"
evidence:

https://github.com/bids-standard/bids-validator/blob/4354d0338b6bdae40b7a038f444b5643038f6e15/bids-validator/validators/json/schemas/eeg.json#L49

only a positive number should be accepted

ref: https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/03-electroencephalography.html#sidecar-json-_eegjson

[2020-09-16 09:38] sappelhoff opened #1071 "Ephys schemas: Use restricted vocabulary for "RecordingType" field"
evidence:

https://github.com/bids-standard/bids-validator/blob/4354d0338b6bdae40b7a038f444b5643038f6e15/bids-validator/validators/json/schemas/eeg.json#L48

this field is in MEG, EEG, and iEEG ... it should accept three kinds of strings: "epoched", "continuous", "discontinuous"

ref: https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/03-electroencephalography.html#side

[2020-09-16 09:42] sappelhoff opened #1072 "consider improving all schemas: fields that require a URI can be validated accordingly"
We have some fields in the schemas like `CogPOID` that require a URL or a URI.

While the JSON schema does not directly allow for validating URLs, it seems like there is some functionality to check general uris --> https://json-schema.org/understanding-json-schema/reference/string.html?highlight=uri#uri-template

This might be worth looking into for stronger validation of several fields

ref: http

[2020-09-16 09:52] sappelhoff opened #1073 "Feature request: Trigger "warning" if specific value encountered in JSON field"
We use the schema for JSON validation and that's great -> however, for some failures (or use cases), I would like to send a specific warning to the user.

Example:

- User tries to specify `RAS` in `EEGCoordinateSystem`
- `RAS` is not on the [list of restricted keywords], the schema errors and prints a list of accepted values
- among the printed list, there is `Other`, and because it seems like th

[2020-09-16 09:54] sappelhoff commented on #1071
duplicate of #1066 :face_with_head_bandage:

[2020-09-16 09:54] #1071 closed

[2020-09-16 09:56] sappelhoff commented on #1073
this enhancement would be a neat and powerful way to improve validation and BIDS usage ... and just to draw attention back to another important (IMHO) and generalizable feature, please see: https://github.com/bids-standard/bids-validator/issues/672 ... if we could implement both of these, we'd be making a big step towards a better validation.

[2020-09-16 12:22] sappelhoff commented on #1073
I think a **part** of this issue could be solved with [JSON schema conditionals](https://json-schema.org/understanding-json-schema/reference/conditionals.html), but that wouldn't allow us to send out targeted warnings

[2020-09-16 17:44] sappelhoff commented on #1044
@Remi-Gau I think I know now why `additionalProperties` MUST be true in the BOLD.JSON schema.

Unlike the Ephys schemas, the MRI schemas are not fully specified. That is, there are several "jsons" that do not even have a schema and the only MRI json schema there is (bold.json) is underspecified in terms of JSON fields it could take on according to the spec.

We are currently making a big overhaul

[2020-09-16 18:39] Remi-Gau commented on #1044
hey @sappelhoff

Sorry for not replying sooner. I was busy on another PR. :wink:

Thanks a lot for all those explanations: really helps understanding the issue better.

I think my initial approach was pretty much along the "laissez-faire" approach you described as "it doesn't hurt us if people want to document their data" above.

But you make good points and I see how this could lead to some probl

[2020-09-16 20:12] wangjinvandy commented on #1063
Hi, Chris,

I used the docker approach (our server can only run singularity) and tried to run validator on our data stored on server. It still gives me the maximum call stack size exceed error. I cannot make the npm intall bids-validator work.  Do you have any suggestions for how to set the heap size for the docker approach?

Best
Jin

Jin Wang
Graduate Student
Psychology and Human Development,
Pe

[2020-09-17 09:16] sappelhoff commented on #1044
good point :+1:

[2020-09-17 13:44] effigies commented on #1063
You can use `--entrypoint=bash` to get access to the CLI inside the Docker container, and then call `bids-validator` with the modified invocation.

[2020-09-17 15:23] #1045 closed

[2020-09-17 20:09] sappelhoff opened #1074 "Add MRI schemas bold.json etc."
The MRI JSON schemas are currently not exhaustively specified, currently there is only a `bold.json` schema: https://github.com/bids-standard/bids-validator/tree/master/bids-validator/validators/json/schemas

yet in bids-examples, I see many more MRI jsons like

- phasediff.json
- T1w.json
- T2w.json
- dwi.json
- epi.json
- sbref.json

and there are probably more. I think we should:

- collect a l

[2020-09-17 20:18] sappelhoff opened #1075 "Enh schemas --> validate array length for fields that want "object of arrays""
By using this part of the schema -> [array length](https://json-schema.org/understanding-json-schema/reference/array.html#length), we can ensure that fields like `FiducialsCoordinates` contain an object of arrays that are each of length 3 (corresponding to a 3D point in space)

there are multiple of such `...Coordinates` fields scattered across several JSON files, but here is the crossref to the E

[2020-09-17 20:22] wangjinvandy commented on #1063
Hi, Chris,

Thank you for your suggestion. However, I am not familiar with docker and singularity (nor npm, which I cannot install on our campus server). Is it possible that we can zoom so you can guide me on how to do it? If not, can you please send me a more detailed instructions on how to use singularity to change the docker container's CLI?

I goolged around whole day long but still haven't go

[2020-09-17 20:30] effigies commented on #1063
@cdale8 Would you be able to provide an invocation that adjusts the stack size? I haven't played with this much, myself and I know you were working with this recently.

[2020-09-18 00:13] rwblair commented on #1069
First grep is of the spec source and second is of the validator schemas. I Have a few Units that I need to add to schemas:

[code]

[code]

[2020-09-18 07:00] sappelhoff commented on #1069
:scream: your grepping revealed a :bug:

what a friday morning surprise :-)

--> `EEGCoordinateSystemUnit`, and `iEEGCoordinateSystemUnit` seem to be errors :thinking: they appear only in the spec text, and apparently we forgot to change them to `*EEGCoordinateUnits`, like how they are in the spec table (which is more important).

I'll submit a fix PR to the spec, removing those two.

Like that it

[2020-09-27 15:28] hoechenberger opened #1080 "After a release, bump the version number of the development version"
Hello, I'm running into an issue with `bids-validator`; specifically, we're running a CI job that once installs the latest stable release from NPM, and in another set of runs installs the code from the `master` branch. Unfortunately, both versions carry the exact same version number (1.5.4), so there is no way for our tests to find out whether they're being run in an environment with a stable or a

[2020-09-28 08:11] sappelhoff commented on #1080
x-ref #803

[2020-09-28 18:12] sappelhoff commented on #803
closed with #1081

[2020-09-28 18:12] #803 closed

[2020-09-29 08:53] sappelhoff opened #1082 "Simplify some unnecessarily complicated schemas"
The following schema specifications are more complicated than they need to be:

https://github.com/bids-standard/bids-validator/blob/25daeb53ae070b1fcfcad57220cd1a8157a8e419/bids-validator/validators/json/schemas/dataset_description.json#L23-L33

This would be sufficient:

[code]

it's possible that more schema fields can be simplified in this way, I didn't check everywhere.

[2020-09-29 08:58] sappelhoff commented on #1073
also related to https://github.com/bids-standard/bids-validator/issues/945 ... but the feature request here goes beyond that issue.

[2020-09-29 12:59] effigies commented on #1082
Is this a way of permitting a string or list of strings?

[2020-09-30 18:07] riddlet opened #1083 "range error on validation"
Here's the error message I receive when trying to upload to openneuro:

[code]

[2020-09-30 18:12] riddlet commented on #1083
Maybe related to #1063

[2020-10-01 09:06] sappelhoff commented on #1082
I think that'd have to be:

[code]

Also, "Acknowledgments" and "HowToAcknowledge" MUST be strings, as per https://bids-specification.readthedocs.io/en/latest/03-modality-agnostic-files.html#dataset_descriptionjson

[2020-10-01 15:41] #1082 closed

[2020-10-08 21:42] #1069 closed

[2020-10-08 21:42] #1075 closed

[2020-10-08 21:42] #1065 closed

[2020-10-08 21:42] #1066 closed

[2020-10-08 21:42] #1068 closed

[2020-10-08 21:42] #1070 closed

[2020-10-09 06:39] hoechenberger commented on #1080
Now that 1.5.6 has been released, can we bump the version to 1.5.7-dev.0, similarly to how we handled this in https://github.com/bids-standard/bids-validator/pull/1081?

[2020-10-09 21:29] hjmjohnson commented on #1083
I too have a similar error: Maximum call stack size exceeded; please help the BIDS team and community by opening an issue at (https://github.com/bids-standard/bids-validator/issues) with the evidence here.

This is for a bids dirctory with 1500+ subjects, and 4000+ scan session.  The scan sessions have globally unique identifiers (to align with historical practices).    We do NOT want to verify th

[2020-10-09 21:31] hjmjohnson commented on #1063
@effigies I am running into this problem with the command line interface.  Previous hack of
[code]
and `--stack-size=10000` are not working.

[2020-10-10 01:13] rwblair commented on #1083
@hjmjohnson If its convenient for you to test it here's a branch of the validator with a flag `--ignoreSessionConsistency` that should skip the code that verifies all subjects have the same session names:
https://github.com/bids-standard/bids-validator/tree/skip_session_checks

Also If possible could you re-run the validator passing `--heap-prof` to node. Depending on how you have the validator in

[2020-10-10 12:14] hjmjohnson commented on #1083
@rwblair I will test this out later tonight, or tomorrow morning.  Thank you for your assistance.

[2020-10-10 18:28] wangjinvandy commented on #1063
Hello,

I haven't heard anything from you about the solutions for the call stack size error. But I separated my dataset into five chunks and validated chunk by chunk. I confirmed that our format is good with this chunk-by-chunk checking and plan to upload our data to openneuro.org now. So, I thought that our problem was solved by using this alternative approach.

However, after I combine my data t

[2020-10-10 18:37] nellh commented on #1063
Could someone who is experiencing this issue provide a list of files in your dataset? We shouldn't need the actual files but having the directory structure and filenames would be very helpful. `find dataset_directory/ -print` will generate this list on Linux or macOS.

[2020-10-10 18:37] effigies commented on #1063
@wangjinvandy Can you try the suggestions @hjmjohnson made?

I will see about whether any paid developer time can be devoted to this issue. Unfortunately, there is not much volunteer JavaScript expertise in the community.

[2020-10-10 19:51] wangjinvandy commented on #1063
@effigies Hi, Chris, Thank you for your reply. Hopefully there will be someone helping upgrade the bids-validator capacity. I believe as the open science is the trend and sharing large dataset is also the trend. It would be a great contribution to science.

However, I am not sure what you mean by @hjmjohnson suggestion?  The following one? It is not clear if that works according to the following c

[2020-10-10 20:11] wangjinvandy commented on #1063
@nellh Hi, Nell, I attached the list here for your information.
[filelist.txt](https://github.com/bids-standard/bids-validator/files/5359946/filelist.txt)

[2020-10-10 21:11] cdale8 commented on #1063
Sorry for the long delay in response.  Here is the solution (not optimal) that our project is using:

We installed a singularity container with the command line version of bids-validator on our network.

I tested using the command line version with our very large study dataset while logged on to a variety of workstations with different memory capacities and found that the number/size of subject da

[2020-10-11 13:20] #1080 closed

[2020-10-11 19:31] hjmjohnson commented on #1063
Here is my listing:
[Uploading validation_failure.list.gz…]()

[2020-10-12 01:04] hjmjohnson commented on #1083
THIS WORKED!!! Thanks you.  I am making progress towards validation again. Hans  From: Ross Blair <notifications@github.com>Date: Friday, October 9, 2020 at 8:13 PMTo: bids-standard/bids-validator <bids-validator@noreply.github.com>Cc: Hans Johnson <hans.j.johnson@gmail.com>, Mention <mention@noreply.github.com>Subject: Re: [bids-standard/bids-validator] range error on validation (#1083)@hjmjohnso

[2020-10-12 22:53] #1072 closed

[2020-10-12 22:58] #945 closed

[2020-10-18 08:30] Remi-Gau commented on #1044
Will close this for now as it has been opened in the bids specs repo and I suspect this is where the discussion will happen.

[2020-10-18 08:30] #1044 closed

[2020-10-19 15:14] rwblair commented on #1033
From the spec:
"The task label included in the file name is derived from this TaskName field by removing all non-alphanumeric ([a-zA-Z0-9]) characters. For example TaskName faces n-back will correspond to task label facesnback"

From that I take TaskName as being the generally accepted, more human readable, name of the task with the entity for the task name being properly defined in the filename i

[2020-10-19 15:16] sappelhoff commented on #1033
agreed! except for the "convert to lowercase", because I think casing is not touched by the spec.

[2020-10-20 12:57] effigies commented on #1033
Not reading this as REQUIRED language, so if we do this, I think it should be a warning. It doesn't feel extremely helpful, though.

[2020-10-20 14:45] rwblair commented on #1063
@cdale8 @wangjinvandy A new flag in 1.5.7 has been added, `--ignoreSubjectConsistency` this bypasses a set of checks that generates warnings about subjects having files or sessions that other subjects don't have. It allowed @hjmjohnson to validate their dataset that was hitting the stack size limit. If you try it out let me know how it goes.

[2020-10-20 19:14] cdale8 commented on #1063
@rwblair Our project dataset will run through without the stack error, but the new version produces errors in handling MEG data, specifically in all the channels.tsv files.  As we are coded correctly for BIDS 1.2.2, and apparently the type options and syntax for MEG channels has changed (according to these new errors trigger, refgrad, megmag, aux, and misc are no longer valid MEG channel types, an

[2020-10-20 19:36] sappelhoff commented on #1063
just a small comment: The channel types were always meant to be upper case, however the specification was ambiguous about that and the validator did not properly validate the casing.

We caught this issue some weeks ago and improved the specification (no longer ambiguous) as well as the validator. This leads to some previously uncaught errors to now surface for some users. :slightly_frowning_face:

[2020-10-20 20:14] cdale8 commented on #1063
Thanks @sappelhoff, it affects 237968 files in our BIDS directory and the .tsv files were created via a version of Fieldtrip that we froze for this project, so I'd have to recode at that level.  Next project...

[2020-10-20 21:49] rwblair commented on #1063
@cdale8 Thanks for the response. I had to write a gnarly bash/sed oneliner to fix the capitalization in the bids-examples which only affected a few dozen files. 237968 files is intense. I'll try and keep that number in mind as I read through the tsv validator.

[2020-10-20 22:13] VisLab commented on #1063
From @happy5214.....
 To follow up on the TSV issue, the files are loaded at
https://github.com/bids-standard/bids-validator/blob/556e86dff6e3b97249f3741bf76a8c5879d667ea/bids-validator/validators/tsv/validate.js#L23
<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbids-standard%2Fbids-validator%2Fblob%2F556e86dff6e3b97249f3741bf76a8c5879d667ea%2Fbids-validator%2Fval

[2020-10-26 14:07] #1032 closed

[2020-11-03 23:26] arnodelorme opened #1103 "bidsignore is being abused to smuggle non BIDS data into OpenNeuro"
Below the EEG is contained in custom .mat files that do not use a particular format

https://openneuro.org/datasets/ds002725/versions/1.0.0

This is not consistent with the EEG BIDS definition, yet it passed validation

https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/03-electroencephalography.html

[2020-11-04 06:01] jasongong11 opened #1104 "(code: 55 - JSON_SCHEMA_VALIDATION_ERROR)"
Hi,
I met with this error:
`1: [ERR] Invalid JSON file. The file is not formatted according the schema. (code: 55 - JSON_SCHEMA_VALIDATION_ERROR)
		./sub-005/func/sub-005_task-game_run-01_bold.json
			Evidence: .CogAtlasID should match format "uri"
`

But there is no .CogAtlasID in my json file.

here is the json file:
`
{
  "AcquisitionMatrixPE": 120,
  "AcquisitionNumber": 1,
  "AcquisitionTime"

[2020-11-04 09:38] sappelhoff commented on #1103
Hi @arnodelorme could you point us to the files that you are talking about by for example, providing a relative path in ds002725 ?

I cloned the dataset and ran `find . -type f -name "*.mat*"` but could not find any `.mat` files.

Are you suggesting that the edf files from ds002725 are actually mat files where somebody just replaced ".mat" with ".edf"?

That would be evil ... :thinking:

[2020-11-04 09:45] sappelhoff commented on #1104
thanks for the report @jasongong11 ... I tried to replicate this issue by bumping the bids-validator version on bids-examples and doing a travis run: https://travis-ci.org/github/bids-standard/bids-examples/builds/741338158

however, I don't see any errors of malformatted "CogPoID" in the absence of that field.

maybe @rwblair knows what's going on.

[2020-11-04 09:50] jasongong11 commented on #1104
Thanks! @sappelhoff

I added the "CogAtlasID" field in the json file. Then the validator stopped reporting this error. I guess I can just get this around by adding the field in the json files. But still wondering what causes the issue.

Many thx again!

Best,
Jason

[2020-11-04 09:53] sappelhoff commented on #1104
indeed we should solve that issue. Did you simply add any "dummy" data to that field? Or does it actually make sense for you to use it?

I would not advise to add "dummy" data just to pacify the validator :-) we'll try to be quick to solve this error

[2020-11-04 10:07] jasongong11 commented on #1104
Thanks for the notice!

Yes, I arbitrarily choose a Cognitive Atlas concept and put the URL in the field. And many thanks for solving this! :D

For replicating the error here is the json file (I converted it to txt file since github does not support json file uploading)

[sub-005_task-game_run-01_bold.json.txt](https://github.com/bids-standard/bids-validator/files/5487042/sub-005_task-game_run-01_

[2020-11-04 16:09] arnodelorme commented on #1103
I meant ds002739

See sub-01/EEG/sub-01_EEG_EEG_data_sub-01_run-01.mat

[2020-11-04 16:18] sappelhoff commented on #1103
In that case the answer is: "because the dataset curator has *bids-ignored* the EEG data":

see their [bidsignore file](https://openneuro.org/datasets/ds002739/versions/1.0.0/file-display/.bidsignore):

[code]

The validator is acting as expected here. However there could be a discussion about restricting bidsignore.

In any case, a message to the dataset curator may be in order, because datasets

[2020-11-04 16:28] arnodelorme commented on #1103
OK, I will let Franklin know,

Arno

[2020-11-04 18:54] effigies opened #1106 "Warnings during build"
[code]

Can these be easily resolved?

[2020-11-04 19:02] sappelhoff commented on #1106
maybe as part of #1102, which was also intended to solve the several security issues that GitHub alerts us to.

[2020-11-04 19:08] effigies commented on #1106
Nope, still an issue in the Docker build: https://app.circleci.com/pipelines/github/bids-standard/bids-validator/404/workflows/6ab64555-bd9d-4630-be6d-964e197fcf8c/jobs/6403

[2020-11-04 19:11] sappelhoff commented on #1106
cc @nellh

[2020-11-05 00:34] jasongong11 commented on #1104
Hi,

I think I figured out what is wrong.

The two grand json files (task-game_bold.json and task-rest_bold.json) contain the `CogAtlasID` and I think the BIDS converter just put "TO DO" values in the field in the grand json files. But the json files for each BOLD images do not contain the field. So the validator recognizes that there should be `CogAtlasID` in the individual json files. And it thr

[2020-11-05 05:41] arnodelorme opened #1107 "Validator passed corrupted BIDS EEG"
This BIDS dataset contains both .edf and .bdf file (which are very small)

https://openneuro.org/datasets/ds002034/versions/1.0.1

sub-01/ses-01/eeg/sub-01_ses-01_task-offline_run-01_eeg.edf
sub-01/ses-01/eeg/sub-01_ses-01_task-offline_run-01_eeg.bdf

I believe it should not have passed the validator since there are 2 types of binary files and the BDF file is obviously corrupted.

[2020-11-05 08:17] sappelhoff commented on #1104
Nice, that sounds like the [inheritance principle](https://bids-specification.readthedocs.io/en/latest/02-common-principles.html#the-inheritance-principle) was at work. This means the validator behaved as expected.

I am glad you found the issue and could resolve it. Good luck with your dataset preparation!

[2020-11-05 08:17] #1104 closed

[2020-11-05 08:18] jasongong11 commented on #1104
Thank you very much! :D

Best,
Jason

[2020-11-05 08:22] sappelhoff commented on #1107
Thanks for the report @arnodelorme, it seems like you're going through a lot of datasets these days :-)

I agree that the validator should catch these cases. A given EEG file such as `sub-01/ses-01/eeg/sub-01_ses-01_task-offline_run-01_eeg.<ext>` MUST NOT be present more than once through using different extensions `<ext>`.

[2020-11-05 08:26] sappelhoff commented on #1107
I haven't checked whether the BDF file is corrupted, but if it truly is, that raises another, already known, concern: We are not validating the *contents* of binary EEG files.

This problem is hard to solve, because we would need to implement data format *readers* in Javascript. So that the bids-validator can go into the files and check for their validity. Currently, this is already being done for

[2020-11-05 08:29] sappelhoff opened #1108 "Implement JS readers for data formats: EDF, BDF, BrainVision, ..."
following quote by @arnodelorme:

_Originally posted by @sappelhoff in https://github.com/bids-standard/bids-validator/issues/1107#issuecomment-722223434_

---
I haven't checked whether the BDF file is corrupted, but if it truly is, that raises another, already known, concern: We are not validating the *contents* of binary EEG files.

This problem is hard to solve, because we would need to impleme

[2020-11-05 08:33] sappelhoff commented on #1107
In this issue, let's track our progress to prevent users from storing the same data under different extensions.

This should be some rule that:

- IF a file `sub-01/ses-01/eeg/sub-01_ses-01_task-offline_run-01_eeg.<ext>` is present
- AND <ext> is from the list `LIST_OF_ACCEPTED_DATA_FORMAT_EXTENSIONS`
- then there MUST NOT be any other file with the same name and an ext from that list

sounds diff

[2020-11-05 08:35] sappelhoff commented on #1103
@arnodelorme I have also taken the liberty to rename your issue to: "bidsignore is being abused to smuggle non BIDS data into OpenNeuro"

cc @franklin-feingold @effigies @rwblair

Also @jasmainak, who has often complained that `bidsignore` allows users to do "Whatever the fuck they want".

[2020-11-05 12:34] arnodelorme commented on #1107
Yes, this sounds like a good rule.

[2020-11-05 13:03] effigies commented on #1103
The entire point of `.bidsignore` is to "smuggle" non-BIDS data into BIDS datasets. BIDS is inherently a work-in-progress and the only way to allow a researcher to upload a complete description of a study containing as-yet-unstandardized data is to ignore that data. Some people have used `sourcedata/` to hide their non-standard files, some `derivatives/`, and some use `.bidsignore`.

There are def

[2020-11-05 13:06] effigies commented on #1108
When doing things like this, we need to be careful to write things in such a way as to only peek at the portions needed. If we have to ingest entire files, then this is going to make it very hard to do validation on remote datasets, such as datalad datasets with most large files left on S3.

[2020-11-05 14:02] sappelhoff commented on #1108
with NIfTI, is this solved by only looking at the header files?

This may not be so bad, because implementing basic "sanity" checks for data formats is a lot easier than full fledged readers.

[2020-11-05 14:16] effigies commented on #1108
Just the headers, yes. NIfTI has a fixed header, which makes it pretty straightforward.

[2020-11-05 14:20] sappelhoff commented on #1103
I wasn't aware of that, and that changes my evaluation of the situation: It's understandable and acceptable that in the past datasets tried to "hack" support for not-then-existing extensions in order to share the full data.

I was under the impression that in our case here, somebody "hacked" the EEG support in order to bypass the now-existing validation. However that is not the case.

Finally: It'

[2020-11-05 14:28] effigies commented on #1103
@franklin-feingold has tried. Apologies for not making that clear. This issue has been spread over multiple communication channels.

Doing so now.

Sounds good.

[2020-11-05 14:28] #1103 closed

[2020-11-05 14:29] effigies commented on #844
Preserving part of #1103 in this issue:

[2020-11-05 17:37] arnodelorme commented on #1103
I think the EEG data should be moved to sourcedata in this case, otherwise people will get confused as to why it is not properly formatted.

Also it was resubmitted/re-uploaded way after BIDS EEG appeared 24 April 2020.

[2020-11-05 17:48] franklin-feingold commented on #1103
perhaps a minor clarification - this dataset was originally shared on September 24, 2018; prior to the BIDS-EEG standard coming online. The reupload was to address a possible PHI case.

[2020-11-05 18:02] arnodelorme commented on #1103
We can reformat the EEG so it is properly formatted.
There are undocumented fields in the EEG data file though, and if the author does not respond, data will be lost (but it is unusable anyway).
Here is an EEG data file.

              Y: [63×1601780 double]
           chnan: [1×64 double]
    crr_channels: {1×30 cell}
              fd: 1000
              fs: 5000
             fsr: 5
          nan

[2020-11-07 00:43] arnodelorme opened #1109 "Can runs be alphanumeric (example of run: 5H)?"
This data file passed the validator on OpenNeuro

ds003190/sub-01/ses-01/eeg/sub-01_ses-01_task-ctos_run-5H_eeg.eeg

[2020-11-07 01:02] effigies commented on #1109
Shouldn't, no. I also don't think .eeg is a valid extension, so I'm assuming they've ignored their file.

[2020-11-07 01:09] arnodelorme commented on #1109
.eeg is a valid extension. This is the extension for Brain Vision Analyzer Exchange format. Also, many other valid files in this folder use the same 5H run number

[2020-11-07 01:19] effigies commented on #1109
Ah, thanks for the clarification.

[2020-11-07 02:27] effigies commented on #1109
I checked and it was a bidsignore file. I've left a comment on the dataset.

[2020-11-07 02:27] #1109 closed

[2020-11-09 06:01] jasmainak commented on #1108
I have code for ingesting EDF and fif in javascript. I am sure I can dig out the relevant links if you're interested in following this up @sappelhoff ... I don't have a lot of bandwidth but certainly interested in a "javascript nibabel for ephys"

[2020-11-09 08:01] sappelhoff commented on #1108
now we are two :heart_eyes: But if that code is online, it'd help to have it linked here for the future.

I think one of the biggest barriers right now is a lack of instructions on

"how to write a bids-validator plugin JS library" ... specifically a plugin library that can access files (e.g., for their headers) that comes back to https://github.com/bids-standard/bids-validator/issues/932 but goes

[2020-11-10 02:22] effigies commented on #981
Is this meaningfully different from BIDS in general?

[2020-11-10 02:24] effigies commented on #984
I think this is basically a duplicate of #980. The idea here was to say "You have to have some non-raw entity. In the last resort, you can always use desc."

[2020-11-10 02:26] effigies commented on #983
I don't think this can be validated, although perhaps you could say "No raw entities can be used that do not appear in the source file". But that feels like it's just asking for someone to come up with a good exception.

[2020-11-10 02:26] effigies commented on #985
I think these should just be `.bidsignore`d.

[2020-11-11 14:32] gpiantoni opened #1111 "SLICETIMING_ELEMENTS rationale?"
I receive a warning

However, in my json file, I specify ``"SliceEncodingDirection": "j"``. From my reading of the [documentation](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#timing-parameters), any axis could encode the slice direction.

Can the SliceEncodingDirection be only "k" as defined by the bids-validator or can it

[2020-11-11 14:57] effigies commented on #1111
We should definitely respect SliceEncodingDirection.

[2020-11-13 17:26] VisLab opened #1112 "Would like warning if no References and Links"
I would like to suggest that a warning be raised if there are no References and Links in the dataset_description. It is easy to forget to include in the relief of getting a dataset to validate.

[2020-11-13 18:34] effigies commented on #1112
Warnings should generally be for recommendations, so if this is something that we strongly feel adds enough value to the dataset to justify a warning, I would suggest we promote it to RECOMMENDED.

[2020-11-16 11:45] gllmflndn opened #1113 "Validator should ensure TSV files do not contain a tab character before the linebreak"
As discussed [here](https://github.com/bids-standard/bids-matlab/issues/96), the bids validator accepts this file from openneuro:
https://openneuro.org/crn/datasets/ds003195/snapshots/1.0.3/files/participants.tsv
that contains a tab at the end of each line. The question is whether this is indeed a compliant file.

[2020-11-16 13:06] effigies commented on #1113
I would say it's probably not, but we should check whether there's any external consensus on TSV.

[2020-11-16 13:16] effigies commented on #1113
Well by the [IANA "standard"](https://www.iana.org/assignments/media-types/text/tab-separated-values):

[code]

It looks like the one thing a line can't end with is TAB.

[2020-11-16 15:33] effigies commented on #1113
Looks like we accidentally introduced this in #631 because `\r\n` was breaking the assumption that EOL == `\n`. So we now over-trim tabs.

https://github.com/bids-standard/bids-validator/blob/73580bfa1a9015ec92db1d03db785cada3d09178/bids-validator/validators/tsv/tsvParser.js#L6-L19

We probably want to add:

[code]

And change

[code]

[2020-11-16 15:49] gllmflndn commented on #1113
Thanks for looking into this. I would agree to consider this file not valid. Note that BIDS's TSV does not follow the IANA as it allows tabs in double quoted fields, so we are off-piste already anyway.

[2020-11-16 15:59] effigies commented on #1113
Oh...

Does anybody actually use that? The validator certainly doesn't try to parse it from what I can see.

[2020-11-16 16:51] gllmflndn commented on #1113
I would hope not but that's in the specs... For what it's worth (i.e. not much), I argued against at the time.

Would it be ok to apply your change above to the validator? How does it work for a dataset on openneuro that was declared as valid and is not any more?

[2020-11-16 17:03] gllmflndn commented on #1113
Given that the BIDS specs define a TSV file as a CSV file where you replace commas with tabs, I presume [this HN classic about CSV format](http://thomasburette.com/blog/2014/05/25/so-you-want-to-write-your-own-CSV-code/) applies.

[2020-11-16 17:27] effigies commented on #1113
Feel free to submit the patch, or I can if I get a minute this afternoon. I'm curious what all will break...

[2020-11-16 17:35] sappelhoff commented on #1113
it would be good to clarify that in the specification - with a link to that external standard (if it's truly a fit). If any of you have time to do that PR as well.

[2020-11-16 18:17] gllmflndn commented on #1113
I just searched through old emails (~ 5 years ago) and, when I was arguing against tabs in double quotes in TSV files, I mentioned this as well: http://dataprotocols.org/linear-tsv/ (that uses `\t` for tabs within a field).
I don't think there are any 'official' TSV specifications we could link to, unfortunately. But maybe there could be some clarification in the BIDS specification (then we can do

[2020-11-18 14:48] effigies commented on #190
Warning if the full path is >256 characters (bids-standard/bids-specification#674) would hit every case this would. Is it worth having two issues like `LONG_PATH_WINDOWS` `LONG_FILENAME_AFNI`, or just `LONG_PATH`?

[2020-11-19 08:43] happy5214 opened #1115 "Add tests for HED 3-specific issue codes"
#1101 was not able to add codes for the new issues introduced in version 2 of hed-validator, relating to HED 3's short-to-long tag conversion, due to the lack of a released stable HED 3 schema. Once version 8.0.0 of the HED schema is released, we should go back in and add tests for the issue codes introduced in #1101.

[2020-11-23 16:33] tsalo opened #1117 "Add support for part entity"
Now that https://github.com/bids-standard/bids-specification/pull/424 has been merged, the validator needs to support the `part` entity. I can add the regular expressions in a PR, but there are a few things I may need some help on.

1. Files with `part-phase` should have `Units` specified in their sidecars. Can the validator check this?
1. The `_phase` suffix is now deprecated. It would be great i

[2020-11-26 09:12] sappelhoff opened #1118 "Allow channels.json and electrodes.json also in top and session level"
channels.tsv and electrodes.tsv are allowed at the top level:

https://github.com/bids-standard/bids-validator/blob/556e86dff6e3b97249f3741bf76a8c5879d667ea/bids-validator/bids_validator/rules/top_level_rules.json#L68-L102

if arbitrary columns are defined in these files, they'd need to be specified in an accompanying JSON file.

Similar to how it's possible already at the file level:

https://git

[2020-11-26 09:15] sappelhoff commented on #1118
Same for session level: JSON for electrodes and channels should be allowed if the TSV are allowed (which they are).

https://github.com/bids-standard/bids-validator/blob/6f123f091b0951fe3cfcc670fbbb27f7fd1fb449/bids-validator/bids_validator/rules/session_level_rules.json#L51-L88

[2020-11-26 10:01] dvanblooijs opened #1119 ""events.json" at root not properly picked up for inheritance"
I have six subjects with several tasks, but all these different tasks result in the same columns in each subject’s events.tsv. I also made one events.json which describe the extra columns in events.tsv and located that in dataset/events.json. All subject’s events.tsv (and corresponding ecogs, channels.tsv etc.) are located in dataset/sub-001/ses-1/ieeg/sub-001_ses-1_task-X_run-XX_events.tsv. Howev

[2020-11-26 10:01] dvanblooijs commented on #1119
At the same time, I get this warning:
sub-RESP0521_ses-1_task-SPESclin_run-021231_events.tsv 80.253 KB |

Location:

dataset descriptor/sub-RESP0521/ses-1/ieeg/sub-RESP0521_ses-1_task-SPESclin_run-021231_events.tsv

Reason:

Tabular file contains custom columns not described in a data dictionary

Evidence:

Columns: sub_type, electrodes_involved_onset, electrodes_involved_offset, offset, sample_st

[2020-11-27 21:42] Remi-Gau opened #1121 "cross check that things that are URI are encoded as such in the validator schema"
Should I add "cross check that things that are URI are encoded as such in the validator schema" on my to do list?

_Originally posted by @Remi-Gau in https://github.com/bids-standard/bids-validator/pull/1120#discussion_r531684531_

[2020-12-08 18:03] #1115 closed

[2020-12-18 23:13] VisLab opened #1129 "EMPTY_FILE rears its head"
This may be the resurrection of an old issue, but I am running the bids-validator 1.5.8 on some of the bids-examples such as eeg_matchingpennies.  It reports an error because all of the eeg data files are empty.  This is a known problem with all of the examples and the work around is to add a bidsconfig.json file to ignore error code 99.  The configuration file is in the bids-examples, but it does

[2020-12-22 16:04] antotorov opened #1131 "Unhandled rejection with docker image"
Hello,

I am on ubuntu focal and tried to bids-validate my dataset using the docker image.

I am using the default docker image, the exact command I run is (as per documentation)

`sudo docker run -ti --rm -v /home/me/my_project/data:/data:ro bids/validator /data`

The output I have is

[code]

My docker version is 20.10.1. My nodejs version is v10.19.0, but I think this is irrelevant when using d

[2021-01-05 15:12] mrserody opened #1135 "Validator can fail to parse valid NIfTI file when header is not contained in first 500 bytes of compressed file"
I am trying to upload a dataset onto OpenNeuro; however, I keep on receiving a validation error that OpenNeuro is unable to parse the header data for one subject's T2w file. I can view the file just fine on FSL and on OpenNeuro, so I am pretty sure this is a bug.

[2021-01-06 01:08] effigies commented on #1135
tl;dr. I reproduced the issue, and found that the root cause is that the first 500 bytes of this compressed file do not yield 348 uncompressed bytes. I have two recommendations:

1) @mrserody In the short term, you can use a higher compression ratio and ensure the original filename is not stored, to maximize the amount of uncompressed data that can be recovered from the start of the file. You can

[2021-01-07 00:36] jbwexler opened #1139 "BUG: Invalid values in JSON should generate errors with the correct JSON file path"
I got the following output from bids-validator, despite the fact that none of these jsons contain a CogAtlasID field:

 bids-validator@1.5.8

	1: [ERR] Invalid JSON file. The file is not formatted according the schema. (code: 55 - JSON_SCHEMA_VALIDATION_ERROR)
		./sub-9001/ses-1/func/sub-9001_ses-1_task-arrows_bold.json
			Evidence: .CogAtlasID should match format "uri"
		./sub-9001/ses-1/func/sub

[2021-01-07 01:07] effigies commented on #1139
Is there another JSON file higher in the hierarchy that has it? Try `grep -rI CogAtlasID /path/to/dataset`.

[2021-01-07 14:21] effigies commented on #1135
This will be fixed in the next release. @rwblair Let's make sure to get a patch release that can be included in the next OpenNeuro deployment.

[2021-01-07 18:55] jbwexler commented on #1139
Ah, yes there is! Thanks!

[2021-01-07 19:11] effigies commented on #1139
This was a topic of discussion at the last BIDS maintainers meeting. We need to improve the error messages here, since the bad values are being reported at the leaf even when they're defined at the root.

[2021-01-10 15:45] sagihaider opened #1140 "CHANNELS_COLUMN_TYPE_UPPER_CASE"
We are validating our MEG-BIDS format and facing this issue, which seems irrelevant to us.

Error 1: [Code 130] CHANNELS_COLUMN_TYPE_UPPER_CASE
Click here for more information about this issue

Type column in channels.tsv files should consist of upper-case characters.

[code]

[2021-01-10 15:48] sagihaider opened #1141 "data2bids error at line"
Do we believe these two lines need to be swapped?  When we are validating the BIDS data it was throwing an error and after carefully looking at it we believed at the above suggestion.
Many thanks!

[code]

[2021-01-10 15:51] sappelhoff commented on #1141
hi @sagihaider, please open your issues about `data2bids` on the fieldtrip repository: https://github.com/fieldtrip/fieldtrip

This repository is only for bids-validator related issues.

[2021-01-10 15:51] #1141 closed

[2021-01-10 15:55] sappelhoff commented on #1140
Hi @sagihaider

is this more of a comment, or are you making a suggestion? Do you have a technical question, or a bug report?

[2021-01-10 15:58] sagihaider commented on #1140
I am wondering why we are limited to CHANNELS_COLUMN_TYPE_UPPER_CASE. In
our case, it is lower case and we are facing error in bids validator.

On Sun, Jan 10, 2021 at 3:55 PM Stefan Appelhoff <notifications@github.com>
wrote:

--

*Regards*
*Haider Raza*

[2021-01-10 16:14] sappelhoff commented on #1140
I see, thanks for clarifying.

Please have a look at the table here: https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/02-magnetoencephalography.html#channels-description-_channelstsv

there, all permissible channel types are listed.

See an excerpt here (screenshot)

![image](https://user-images.githubusercontent.com/9084751/104128334-56ec5d80-5367-11eb-8a4e-43a32fae8

[2021-01-11 21:30] #1118 closed

[2021-01-13 19:26] nellh opened #1144 "EMPTY_FILE issue 99 exits early returning an incomplete list of the affected files"
This is an issue for some users of OpenNeuro because they don't have a complete list of empty files to fix, given the validator reporting only the first. Each fixed file seems to uncover more when really the dataset just has one set of empty files that could be fixed in one pass if the user knew the complete list.

[2021-01-14 04:23] wangjinvandy opened #1145 "New errors for NOT_INCLUDED dwi sbref files"
Hello,

I have this following error but I checked the naming scheme of these data from bids specification webpage, they are all legal. This error message only occurred for our dwi data but not for func data. Does anyone have any clues of why? Thank you so much!

---

Error 2: [Code 1] NOT_INCLUDED
Click here for more information about this issue

Files with such naming scheme are not part of BIDS

[2021-01-14 13:59] sappelhoff commented on #1140
Did this information help @sagihaider?

If not, please let me know.

[2021-01-14 13:59] #1140 closed

[2021-01-15 10:35] sappelhoff opened #1148 "JSON schema: iEEG if Coordsystem "Pixels", Unit must be "pixels""
https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/04-intracranial-electroencephalography.html#coordinate-system-json-_coordsystemjson

Currently, users could specify the `iEEGCoordinateSystem` to be `Pixels`, but then specify a unit that's `mm`, `cm`, `m`, or `pixels`.

Only `pixels` should be valid according to the specification.

see also: https://github.com/bids-sta

[2021-01-15 20:28] effigies commented on #1135
This has been resolved in the latest release. Thank you very much for reporting!

[2021-01-15 20:28] #1135 closed

[2021-01-19 09:51] sappelhoff commented on #1121
We closed this in #1134. thanks again!

[2021-01-19 09:51] #1121 closed

[2021-01-19 22:06] happy5214 opened #1151 "HED sidecar validation prints "undefined" instead of sidecar file name"
When HED sidecar validation finds an error, it prints out `undefined` instead of the sidecar file name. This is due to the code passing the file name string instead of a file object to the `Issue` constructor. This will be fixed in an upcoming pull request that will implement dataset-level validation. I wanted to post this here so people knew this was a known issue.

[2021-01-19 22:06] happy5214 commented on #1151
Please assign this issue to me.

[2021-01-20 14:57] hrswearingen opened #1152 "scans.tsv filename does not match dataset code: 129"
Hi,

After running the bids-validator (version 1.5.9), I receive this error: "The filename is scans.tsv file does not match what is present in BIDS dataset. (code: 129 - SCANS_FILE_NOT_MATCH_DATASET).

I believe this is happening due to my .bidsignore file. The scans that are written into my .bidsignore file are the ones listed under the error that do not match the scans.tsv.

If I do not use a .b

[2021-01-20 15:49] sappelhoff commented on #1152
@hrswearingen do you mean you are listing data recordings in `scans.tsv` that are in your `.bidsignore` file?

May I ask why you are `.bidsignoring` these files in the first place? Perhaps there is a way not to ignore them?

If they MUST be ignored, then indeed the only solutions I currently see are:

1. remove them from the scans.tsv as well
2. add scans.tsv to bidsignore
3. create a configuratio

[2021-01-20 17:11] hrswearingen commented on #1152
@sappelhoff Yes - there are data recordings listed in my scans.tsv file that are also in my .bidsignore file.

I am using the .bidsignore for certain files that are not supported by BIDS specification, such as localizers or diffusion derivates. I am using heudiconv to convert my dicoms into BIDS.

I think I can use some of your solutions as a work around, and I appreciate your help! Thank you.

[2021-01-21 21:58] wangjinvandy commented on #1145
Hi,
I did some digging, it looks like it should still be allowed given the code in lines 76-88 of the validator here https://github.com/bids-standard/bids-validator/blob/master/bids-validator/bids_validator/rules/file_level_rules.json as you can see in line 80 that sbref is an accepted type. So it looks like there was a change made on Oct 9, 2020  https://github.com/bids-standard/bids-validator/co

[2021-01-21 22:10] wangjinvandy commented on #1145
According to the current bids specification, our naming convention should be fine. https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html

[2021-01-22 08:14] sappelhoff commented on #1145
Thanks for the additional info @wangjinvandy I tried to fix the issue in https://github.com/bids-standard/bids-validator/pull/1153 .. but we'll have to wait for maintainers who are more familiar with MRI to approve of that fix.

In the meantime, you could install a development version of the bids-validator and locally try out my changes from https://github.com/bids-standard/bids-validator/pull/115

[2021-01-22 08:17] sappelhoff commented on #1152
Alright good to hear - please feel free to re-open this issue if you want to come back to discuss it.

[2021-01-22 08:17] #1152 closed

[2021-01-25 10:49] chrisrj opened #1154 "PET BIDS ScanDate field validation needs to be updated."
Hi,
There is an issue with the Scandate field validation.
According to the currently rendered draft of the PET BIDS specification,
the "date of scan" field  Scandate format is:
(not the best date format: it is a bit unusual)
yyyy:mm:dd

This is not matched by the pattern
    "ScanDate": {
      "type": "string",
      "pattern": "^(?:2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9]$"
    },
in the pet.json

[2021-01-26 10:41] munoztd0 opened #1156 "Error while uploading to openneuro that is not detected by the bids validator"
Hello, I don't get why I get this error ONLY in Open Neuro but not when I run the bids-validator ? Also I shouldn't be able to upload the dataset with an error right? And moreover I don't even get this error what could it be can you point me in the direction to fix it if it's not just a bug?

![image](https://user-images.githubusercontent.com/43644805/105834636-057cd900-5fcb-11eb-9711-569142858b09

[2021-01-26 17:19] effigies commented on #1156
When you say "run the bids-validator", do you mean on the website, or do you have it installed via `npm`? If the latter, it may be a version issue.

[2021-01-26 17:21] munoztd0 commented on #1156
I run it via docker. But also the weird thing is that the open neuro cli (via npm) runs the bids-validator each time you want to upload and there I also don't get any error (just minor warnings) but the error only appears on Openneuro website..

[2021-01-26 17:40] nellh commented on #1156
Do you get the same result with the standalone web version of the bids-validator? https://bids-standard.github.io/bids-validator/

[2021-01-26 17:44] munoztd0 commented on #1156
I can't use the standalone web version the data is on a server and it's too big.

[2021-01-26 17:59] effigies commented on #1156
I strongly suspect you're using an older version of the validator. `events.json` validation was added in #1076 and released in 1.5.8.

In any event, please see [Tabular files](https://bids-specification.readthedocs.io/en/stable/02-common-principles.html#tabular-files) and [Task events](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/05-task-events.html) to fix your J

[2021-01-26 18:02] munoztd0 commented on #1156
Well then it means the docker is not up to date ? Because is just run your "run -ti --rm -v /path/to/data:/data:ro bids/validator /data "  command

Anyhow thanks for your answer I'm going to change that!

[2021-01-26 18:12] effigies commented on #1156
You may also need to docker pull the latest version of the image. Docker will not check for a new version if there is a matching image cached locally.

[2021-01-26 18:17] munoztd0 commented on #1156
Mhh sorry I didn't know docker "cached" the version, my bad.

[2021-01-26 18:17] #1156 closed

[2021-01-28 14:48] wangjinvandy commented on #1145
Hello, Thank you for your reply. Do you know when this change will be confirmed by the developer?

[2021-01-28 15:54] #1145 closed

[2021-01-28 15:55] sappelhoff commented on #1145
I just merged #1153, so the fix is now available from the bids-validator `master` branch.

[2021-01-28 18:18] effigies opened #1157 "Issue number registry"
| Issue block | Use |
|--|--|
| 0-140 | Existing |
| | |
| | |
| | |
| | |

---

As extensions are added to the validator, the [issue list](https://github.com/bids-standard/bids-validator/blob/master/bids-validator/utils/issues/list.js) needs to be added to. This is an object indexed by integers, e.g.:

https://github.com/bids-standard/bids-validator/blob/0e3bcee076e787b2ad63da98ceef2be15415c317/b

[2021-01-30 05:32] wangjinvandy commented on #1145
Hello, Thank you for the update. May I ask whether the bids-validator master branch is also used by the online validator and openNeuro webpage uploading step2? It appears that our dwi sbref.nii still cannot pass the validation using the online validator and OpenNeuro webpage. Looking forward to your reply. Thank you very much!

[2021-01-30 09:49] sappelhoff commented on #1145
Unfortunately the web and openneuro validators are using the latest release, not the development version (master) I advise you to download and use the command line interface version of the bids validator, see the readme file.

Else, you will unfortunately have to wait until the next release

[2021-01-30 19:25] wangjinvandy commented on #1145
Thank you very much for your quick reply. For uploading data to OpenNeuro, do we have to go through the steps of openneuro validators or we can change them by using your development version? If so, do you have an estimate of when the next release will happen? Looking forward to your reply as it will be important for us to make a final decision. Really appreciated it.

[2021-01-30 19:36] effigies commented on #1145
The next OpenNeuro update is likely to be in ~2 weeks. This fix can be included then. Are you able to install the validator locally to verify that your dataset will pass? If there are other issues that need to be resolved, it would be good to resolve them before then.

[2021-01-30 21:18] wangjinvandy commented on #1145
Yes, I tested your master version with python on our server. It works! Our dwi sbref.nii passed the validator. Please let us know when this fix will be applied to openneuro so we can start our data uploading to OpenNeuro. Thank you very much!

[2021-02-02 17:33] sappelhoff opened #1159 "Add validator for BEP001 qMRI filenames"
related bids-examples issue for qMRI: https://github.com/bids-standard/bids-examples/issues/227

cc @agahkarakuzu @gilles86

[2021-02-02 19:00] tsalo commented on #1159
Per today's call, we're going to split this task into two components: (1) filename validation and (2) metadata validation. The filename validation will be pushed through before the 1.5 release, while the metadata validation may take longer.

[2021-02-02 19:13] tsalo opened #1160 "Add validator for BEP001 qMRI metadata"
This stems from #1159. The validator needs rules for metadata related to qMRI files.

[2021-02-02 22:13] rwblair opened #1162 "Refactor issues"
Potential long term solution to #1157
Currently utils/issues/list.js is a dictionary that has numbers as keys and objects as values. The value objects then have a key called 'key' with a unique name in all caps. We could use the value of the 'key' field as the actual key for this object, and then numbering conflicts wouldn't be an issue. This would also require replacing all references to the nume

[2021-02-05 08:24] sappelhoff commented on #1154
Thanks for reporting @chrisrj, you are talking about this: https://bids-specification.readthedocs.io/en/bep-009/04-modality-specific-files/09-positron-emission-tomography.html#time

screenshot:

![image](https://user-images.githubusercontent.com/9084751/107007959-7ffbe480-6793-11eb-9197-9775c0830f85.png)

I actually think this should be fixed in the PET proposal. We already have a way to specify d

[2021-02-05 09:27] sappelhoff opened #1164 "test bids-examples as part of bids-validator CI"
the bids-examples CI should probably be run also as part of the bids-validator CI to see early when validator changes break examples.

https://github.com/bids-standard/bids-examples/blob/a3135a66987841c42023c20d28b0e676855c3cce/.github/workflows/validate_datasets.yml#L1

The bids-examples are already included as a git submodule, but not testet:

https://github.com/bids-standard/bids-validator/tree

[2021-02-05 15:24] sappelhoff opened #1165 "CLI --config flag does not find relative paths?"
Came up in https://github.com/bids-standard/bids-examples/issues/229#issuecomment-774096886
related: https://github.com/bids-standard/bids-validator/issues/1129

Trying to run `bids-validator eeg_matchingpennies/ -c bidsconfig.json` from the root of a cloned `bids-examples` repository results in an error.

Same issue if I specify `./bidsconfig.json`

Running `bids-validator eeg_matchingpennies/ -c

[2021-02-05 15:38] sappelhoff commented on #1165
aah found it:

https://github.com/bids-standard/bids-validator/blame/master/bids-validator/README.md#L241-L248

but it's annoying because one MUST specify at least two "ignores" to end up with an array, seems like an easy to solve issue.

[2021-02-05 15:47] sappelhoff commented on #1129
closed in https://github.com/bids-standard/bids-examples/issues/229

[2021-02-05 15:47] #1129 closed

[2021-02-05 16:01] sappelhoff commented on #1020
The "https://sourcerer.io/fame/chrisfilo/bids-standard/bids-validator/images/0" links are broken and are not getting rendered anymore, see screenshot:

![image](https://user-images.githubusercontent.com/9084751/107057437-be18f880-67d3-11eb-9e3d-894916d2a720.png)

https://github.com/bids-standard/bids-validator/blob/970921cbf2e3e85df195ca16f63ee460c588e596/bids-validator/README.md#maintainers-and-c

[2021-02-05 16:02] sappelhoff commented on #1020
@Remi-Gau would you be interested in helping to set this up?

[2021-02-05 16:33] sappelhoff opened #1166 "CLI --config path does not raise issue 44 if non-existing config file is passed"
maybe related #1165

According to these lines: https://github.com/bids-standard/bids-validator/blob/970921cbf2e3e85df195ca16f63ee460c588e596/bids-validator/utils/options.js#L65-L72

the following bids-validator call should raise issue 44

 (again, from bids-examples repo root): `bids-validator eeg_matchingpennies --config $PWD/iDontExist.json`

 But no error is raised.

[2021-02-05 16:52] sappelhoff commented on #1020
Sorry for tagging you Remi prematurely, I went ahead and did it myself in #1167

[2021-02-05 17:20] #1020 closed

[2021-02-05 17:25] sappelhoff opened #1169 "CLI add test-suite"
The CLI is currently not exhaustively tested, or at least I couldn't find it. (If it **is** tested, can somebody please point me to the tests?)

As far as I can see, the only tests that we have are made in the wild, for example in the bids-examples repo: https://github.com/bids-standard/bids-examples/blob/047b14a11b9f57e1e2df41bf5f9ebd2b0d35a358/.github/workflows/validate_datasets.yml#L72-L102

Bu

[2021-02-05 17:32] nellh commented on #1164
bids-examples are tested in bids-validator/tests/bids.spec.js - a list of the example datasets is generated from the datasets present in the submodule and that is used to create tests for each example.

[2021-02-05 17:34] nellh commented on #1169
The existing CLI tests are in bids-validator/tests/cli.spec.js but most of the options are not tested (just with and without --json).

[2021-02-05 17:36] sappelhoff commented on #1164
Thanks :) ... should we then update the submodule more often? I am just wondering why bids-validator was passing for the last few months, while the CI on bids-examples was failing all this time (it's fixed now, since a few days)

[2021-02-05 18:38] sappelhoff opened #1175 "[Help wanted] Add remaining contributors"
We now have the all-contributors bot to track contributions and assign credit, after the old contributor badges somehow broke down, see also: https://github.com/bids-standard/bids-validator/issues/1020#issuecomment-774123255

We should now add all contributors step by step.

This can be done using a comment like this one:

`@all-contributors please add @sappelhoff for bug code data doc example ide

[2021-02-05 18:45] sappelhoff commented on #1175
@all-contributors please add @chrisgorgo  for bug code data doc example ideas infra maintenance mentoring question review test tutorial talk userTesting

[2021-02-05 18:47] sappelhoff commented on #1175
@all-contributors please add @david-nishi  for code

[2021-02-05 19:30] #1175 closed

[2021-02-06 22:14] VisLab opened #1180 "Add a checkbox for empty file option to web interface"
Could a checkbox be added to add the option to ignore issue 99 which is the empty raw file ignore.  This would allow users to try validating the examples using the web-interface.

[2021-02-09 18:43] #1159 closed

[2021-02-09 18:59] #1117 closed

[2021-02-11 21:29] soichih commented on #984
I am having a problem passing bids-validator with dataset with -desc.. like this.

[code]

Am I not supposed to be using `desc-` for raw input? (it's only for derivatives?)

[code]

If desc- is only for derivatives, what should I do to make sure that 2 objects with the same entities won't overwrite each other?

[2021-02-11 21:31] effigies commented on #984
`desc-` is just for derivatives. What's the use case for `desc-` in raw? It may be better served by another entity.

[2021-02-11 21:34] soichih commented on #984
humm.. ok. I was thinking something like multiple dwi with different PED.. but I guess I should set dir- entity in that case.

[2021-02-12 17:14] sappelhoff commented on #1180
I think it would be more sustainable to add a second "upload" button, where users can upload a `bids-validator-config.json` file.

If you want to ignore issue 99, you would then format that file as such:

[code]

[2021-02-12 17:17] sappelhoff commented on #1131
I could not replicate this on Ubuntu 18.04, with `docker --version`:

and `bids-validator --version`

Did you try again in the meantime @antotorov?

[2021-02-12 17:18] sappelhoff commented on #1131
PS: I tried validating this dataset: https://github.com/bids-standard/bids-examples/tree/master/eeg_matchingpennies (and it worked with the expected error 99, that some files are empty)

[2021-02-12 17:23] sappelhoff commented on #1119
Hi @dvanblooijs - sorry to reply so late ... you probably solved the issue yourself by now. But the solution would be to make a bit less use of the inheritance principle, and create individual `events.json` files that are placed closer to the files they are supposed to describe.

For me, it works to have `task-mytask_events.json` at the root of my repository, instead of only `events.json`. And the

[2021-02-12 17:27] sappelhoff commented on #1059
Feel free to reopen with more info if Chris' answer did not solve your issue @adam2392

[2021-02-12 17:27] #1059 closed

[2021-02-12 17:33] sappelhoff commented on #917
Closing, because we are not validating units anymore. We can come back to this once we re-implement unit validation (if we do)

[2021-02-12 17:33] #917 closed

[2021-02-12 17:36] sappelhoff commented on #884
closing for staleness reasons, please reopen if this is still an issue

[2021-02-12 17:36] #884 closed

[2021-02-12 17:42] sappelhoff commented on #851
Thanks for raising this so long ago.

datatypes are meanwhile properly documented since https://github.com/bids-standard/bids-specification/pull/605

I am closing this, because of the more specific issue: #1074 that covers the requested enhancement here.

[2021-02-12 17:42] #851 closed

[2021-02-12 17:44] sappelhoff commented on #911
I guess this is related to https://github.com/bids-standard/bids-validator/issues/826 as well

[2021-02-12 17:52] sappelhoff commented on #743
We made some progress, see: https://bids-specification.readthedocs.io/en/latest/99-appendices/08-coordinate-systems.html

in brief:

- MEG, EEG, and iEEG can all use the defined "standard templates" (such as `MNI152Lin` and many more, see also list in the OP)
- EEG can use MEG keywords and vice versa

This is now finally also validated in the JSON schemas. However it remains an open issue with the

[2021-02-12 17:55] sappelhoff commented on #742
probably related to #1119

[2021-02-12 17:58] sappelhoff commented on #642
closing based on @nellh's comment https://github.com/OpenNeuroOrg/openneuro/issues/931#issuecomment-429513441

[2021-02-12 17:58] #642 closed

[2021-02-12 18:00] sappelhoff commented on #670
I edited #186 to properly reflect this issue as well.

Closing this one as a dupe now.

[2021-02-12 18:00] #670 closed

[2021-02-12 18:02] sappelhoff commented on #632
closing, because I don't see this one close to being relevant anytime soon.

[2021-02-12 18:02] #632 closed

[2021-02-12 18:03] sappelhoff commented on #1112
related: https://github.com/bids-standard/bids-validator/issues/524

[2021-02-12 18:40] VisLab commented on #1112
My vote is to promote references and links to Recommended.

[2021-02-13 09:32] sappelhoff opened #1188 "yarn web-dev runs into issues"
I was trying to develop the web validator through trial and error and wanted to serve the build locally using `yarn web-dev`, as described in our README.

However, I run into this error (ubuntu 18.04, npm 7.5.4, nodejs10.23.3)

[code]

[2021-02-15 16:41] #1148 closed

[2021-02-15 16:54] adam2392 commented on #743
From this list, I don't see `fsnative` for the T1w image of the subject from FreeSurfer? Is this encompassed in the above?

[2021-02-15 17:03] sappelhoff commented on #743
@adam2392 the list you should look at is in [appendix VIII](https://bids-specification.readthedocs.io/en/latest/99-appendices/08-coordinate-systems.html)

you could also look at the JSON schema for these fields. That is used to validate the `iEEGCoordinateSystem` field in `coordsystem.json`. The original idea as far as I can see it was that the `iEEGCoordinateSystem` field and `space` label should

[2021-02-16 16:06] adam2392 commented on #743
Currently discussing with @sappelhoff about some issue with the `space` entity here: https://github.com/bids-standard/bids-specification/pull/734

The topic is usage of `space` entity to identify ieeg electrodes coordinates localized on the FreeSurfer T1w image. Anyone have thoughts, feel free to chime in.

[2021-02-16 18:49] tsalo opened #1192 "Validate that within-acquisition files have same acq_time in scans.tsv"
Per today's maintainers call, we want to check that files from the same acquisition (e.g., ones with varying `part`, `echo`, or `split` entities) have the same `acq_time` value in the `scans.tsv` file. This will require a bit of effort, and only captures an edge case, so I'm labeling this as low-impact (and thus low-priority).

[2021-02-16 23:30] nellh opened #1193 "Validation crashes with code 0: internal error when JSON files begin with UTF-8 BOM"
The validator should ignore the UTF-8 BOM at the start of JSON files to avoid crashing on parsing. Looks like this affects any JSON file but the specific case found on OpenNuero was for dataset_description.json

To reproduce just prepend 0xbbef to any dataset_description.json

bids-validator output:
[code]

The actual parse error that gets eaten:
[code]

[2021-02-17 00:58] effigies commented on #1193
xref #878

[2021-02-17 08:06] sappelhoff commented on #1193
cc @hoechenberger who just recently taught me about this

[2021-02-17 09:06] hoechenberger commented on #1193
The BOM is an illegal character in JSON, as JSON is by definition UTF-8-encoded. If the BOM is present, the input data is not valid JSON. Hence, it's okay if the validator spits an error.

[2021-02-17 12:38] effigies commented on #1193
I did not know that, but this thread agrees: https://stackoverflow.com/questions/4990095/json-specification-and-usage-of-bom-charset-encoding

[2021-02-17 15:30] adam2392 opened #1194 "Add check for validity of the participants.tsv participant_id column"
Raised in: https://github.com/bids-standard/bids-specification/issues/737

This would check that if a participants.tsv file is present, then the `participant_id` MUST be of a certain form: `sub-<label>`.